<!-- -->
<form [formGroup]="assignToCustomerFormGroup" (ngSubmit)="assign()">
  <mat-toolbar color="primary">
    <h2>{{ assignToCustomerTitle | translate }}</h2>
    <span fxFlex></span>
    <button mat-button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async">
      <div style="padding-bottom: 0.5em;">{{ assignToCustomerText | translate }}</div>
      <tb-entity-autocomplete
        formControlName="customerId"
        required
        [entityType]="entityType.CUSTOMER">
      </tb-entity-autocomplete>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || assignToCustomerFormGroup.invalid
            || !assignToCustomerFormGroup.dirty">
      {{ 'action.assign' | translate }}
    </button>
  </div>
</form>
