<!-- -->
<mat-form-field class="mat-block">
  <mat-label translate>alarm.alarm-status</mat-label>
  <mat-select [ngModel]="alarmTableConfig.searchStatus"
              (ngModelChange)="searchStatusChanged($event)">
    <mat-option *ngFor="let status of alarmSearchStatusTypes" [value]="status">
      {{ alarmSearchStatusTranslationsMap.get(alarmSearchStatusEnum[status]) | translate }}
    </mat-option>
  </mat-select>
</mat-form-field>
