<!-- -->
<form [formGroup]="conditionFormGroup" (ngSubmit)="save()" style="width: 700px;">
  <mat-toolbar color="primary">
    <h2>{{ (readonly ? 'device-profile.alarm-rule-condition' : 'device-profile.edit-alarm-rule-condition') | translate }}</h2>
    <span fxFlex></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async">
      <div fxFlex fxLayout="column">
        <tb-key-filter-list
          [displayUserParameters]="false"
          [allowUserDynamicSource]="false"
          [telemetryKeysOnly]="true"
          [entityId]="entityId"
          formControlName="keyFilters">
        </tb-key-filter-list>
        <section formGroupName="spec" class="row">
          <mat-form-field class="mat-block" hideRequiredMarker>
            <mat-label translate>device-profile.condition-type</mat-label>
            <mat-select formControlName="type" required>
              <mat-option *ngFor="let alarmConditionType of alarmConditionTypes" [value]="alarmConditionType">
                {{ alarmConditionTypeTranslation.get(alarmConditionType) | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="conditionFormGroup.get('spec.type').hasError('required')">
              {{ 'device-profile.condition-type-required' | translate }}
            </mat-error>
          </mat-form-field>
          <div fxLayout="row" fxLayoutGap="8px" *ngIf="conditionFormGroup.get('spec.type').value == AlarmConditionType.DURATION">
            <mat-form-field class="mat-block" hideRequiredMarker fxFlex floatLabel="always">
              <mat-label></mat-label>
              <input type="number" required
                     step="1" min="1" max="2147483647" matInput
                     placeholder="{{ 'device-profile.condition-duration-value' | translate }}"
                     formControlName="value">
              <mat-error *ngIf="conditionFormGroup.get('spec.value').hasError('required')">
                {{ 'device-profile.condition-duration-value-required' | translate }}
              </mat-error>
              <mat-error *ngIf="conditionFormGroup.get('spec.value').hasError('min')">
                {{ 'device-profile.condition-duration-value-range' | translate }}
              </mat-error>
              <mat-error *ngIf="conditionFormGroup.get('spec.value').hasError('max')">
                {{ 'device-profile.condition-duration-value-range' | translate }}
              </mat-error>
              <mat-error *ngIf="conditionFormGroup.get('spec.value').hasError('pattern')">
                {{ 'device-profile.condition-duration-value-pattern' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="mat-block" hideRequiredMarker fxFlex floatLabel="always">
              <mat-label></mat-label>
              <mat-select formControlName="unit"
                          required
                          placeholder="{{ 'device-profile.condition-duration-time-unit' | translate }}">
                <mat-option *ngFor="let timeUnit of timeUnits" [value]="timeUnit">
                  {{ timeUnitTranslations.get(timeUnit) | translate }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="conditionFormGroup.get('spec.unit').hasError('required')">
                {{ 'device-profile.condition-duration-time-unit-required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="8px" *ngIf="conditionFormGroup.get('spec.type').value == AlarmConditionType.REPEATING">
            <mat-form-field class="mat-block" hideRequiredMarker fxFlex floatLabel="always">
              <mat-label></mat-label>
              <input type="number" required
                     step="1" min="1" max="2147483647" matInput
                     placeholder="{{ 'device-profile.condition-repeating-value' | translate }}"
                     formControlName="count">
              <mat-error *ngIf="conditionFormGroup.get('spec.count').hasError('required')">
                {{ 'device-profile.condition-repeating-value-required' | translate }}
              </mat-error>
              <mat-error *ngIf="conditionFormGroup.get('spec.count').hasError('min')">
                {{ 'device-profile.condition-repeating-value-range' | translate }}
              </mat-error>
              <mat-error *ngIf="conditionFormGroup.get('spec.count').hasError('max')">
                {{ 'device-profile.condition-repeating-value-range' | translate }}
              </mat-error>
              <mat-error *ngIf="conditionFormGroup.get('spec.count').hasError('pattern')">
                {{ 'device-profile.condition-repeating-value-pattern' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </section>
      </div>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      {{ (readonly ? 'action.close' : 'action.cancel') | translate }}
    </button>
    <button mat-raised-button color="primary"
            *ngIf="!readonly"
            type="submit"
            [disabled]="(isLoading$ | async) || conditionFormGroup.invalid || !conditionFormGroup.dirty">
      {{ 'action.save' | translate }}
    </button>
  </div>
</form>
