<!-- -->
<div fxLayout="column" [formGroup]="alarmRuleFormGroup">
  <tb-alarm-rule-condition formControlName="condition" [deviceProfileId]="deviceProfileId">
  </tb-alarm-rule-condition>
  <tb-alarm-schedule-info formControlName="schedule">
  </tb-alarm-schedule-info>
  <div *ngIf="!disabled || alarmRuleFormGroup.get('alarmDetails').value" fxLayout="row" fxLayoutAlign="start center">
    <span class="tb-alarm-rule-details title" (click)="openEditDetailsDialog($event)">
      {{ alarmRuleFormGroup.get('alarmDetails').value ? ('device-profile.alarm-rule-details' | translate) + ': '  : ('device-profile.add-alarm-rule-details' | translate) }}
    </span>
    <span *ngIf="alarmRuleFormGroup.get('alarmDetails').value" class="tb-alarm-rule-details"
          (click)="openEditDetailsDialog($event)"
          [innerHTML]="alarmRuleFormGroup.get('alarmDetails').value"></span>
    <button mat-icon-button color="primary"
       type="button"
       (click)="openEditDetailsDialog($event)"
       matTooltip="{{ (disabled ? 'action.view' : 'action.edit') | translate }}"
       matTooltipPosition="above">
      <mat-icon>{{ disabled ? 'visibility' : (alarmRuleFormGroup.get('alarmDetails').value ? 'edit' : 'add') }}</mat-icon>
    </button>
  </div>
</div>
