<!-- -->
<div fxFlex fxLayout="column">
  <div *ngFor="let createAlarmRuleControl of createAlarmRulesFormArray().controls; let $index = index;
               last as isLast;" fxLayout="row" fxLayoutAlign="start center"
               fxLayoutGap="8px" style="padding-bottom: 8px;" [formGroup]="createAlarmRuleControl">
    <div class="create-alarm-rule" fxFlex fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start">
      <mat-form-field class="severity mat-block" floatLabel="always" hideRequiredMarker>
        <mat-label translate>alarm.severity</mat-label>
        <mat-select formControlName="severity"
                    required
                    placeholder="{{ 'device-profile.select-alarm-severity' | translate }}">
          <mat-option *ngFor="let alarmSeverity of alarmSeverities" [value]="alarmSeverity"
                       [disabled]="isDisabledSeverity(alarmSeverityEnum[alarmSeverity], $index)">
            {{ alarmSeverityTranslationMap.get(alarmSeverityEnum[alarmSeverity]) | translate }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="createAlarmRuleControl.get('severity').hasError('required')">
          {{ 'device-profile.alarm-severity-required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-divider vertical></mat-divider>
      <tb-alarm-rule formControlName="alarmRule" [deviceProfileId]="deviceProfileId" required fxFlex>
      </tb-alarm-rule>
    </div>
    <button *ngIf="!disabled"
            mat-icon-button color="primary" style="min-width: 40px;"
            type="button"
            (click)="removeCreateAlarmRule($index)"
            matTooltip="{{ 'action.remove' | translate }}"
            matTooltipPosition="above">
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
  </div>
  <div *ngIf="!createAlarmRulesFormArray().controls.length && !disabled">
      <span translate fxLayoutAlign="center center" style="margin: 16px 0"
            class="tb-prompt required">device-profile.add-create-alarm-rule-prompt</span>
  </div>
  <div *ngIf="!disabled">
    <button mat-stroked-button color="primary"
            type="button"
            (click)="addCreateAlarmRule()"
            matTooltip="{{ 'device-profile.add-create-alarm-rule' | translate }}"
            matTooltipPosition="above">
      <mat-icon class="button-icon">add_circle_outline</mat-icon>
      {{ 'device-profile.add-create-alarm-rule' | translate }}
    </button>
  </div>
</div>
