<!-- -->
<form [formGroup]="editDetailsFormGroup" (ngSubmit)="save()" style="width: 800px;">
  <mat-toolbar color="primary">
    <h2>{{ 'device-profile.alarm-rule-details' | translate }}</h2>
    <span fxFlex></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async">
      <div fxFlex fxLayout="column">
        <mat-form-field class="mat-block">
          <mat-label translate>device-profile.alarm-details</mat-label>
          <textarea matInput formControlName="alarmDetails" rows="5"></textarea>
        </mat-form-field>
      </div>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button *ngIf="!data.readonly" mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || editDetailsFormGroup.invalid || !editDetailsFormGroup.dirty">
      {{ 'action.save' | translate }}
    </button>
  </div>
</form>
