<!-- -->
<button mat-raised-button
        ngxClipboard
        [cbContent]="credential"
        (cbOnSuccess)="onCopyCredential()"
        [fxHide]="hideButton"
        [disabled]="disabled || loading">
  <mat-icon svgIcon="mdi:clipboard-arrow-left"></mat-icon>
  <span>{{ buttonLabel }}</span>
</button>
