<!-- -->
<mat-tab *ngIf="entity"
         label="{{ 'attribute.attributes' | translate }}" #attributesTab="matTab">
  <tb-attribute-table [defaultAttributeScope]="attributeScopes.SERVER_SCOPE"
                      [active]="attributesTab.isActive"
                      [entityId]="entity.id"
                      [entityName]="entity.name">
  </tb-attribute-table>
</mat-tab>
<mat-tab *ngIf="entity"
         label="{{ 'attribute.latest-telemetry' | translate }}" #telemetryTab="matTab">
  <tb-attribute-table [defaultAttributeScope]="latestTelemetryTypes.LATEST_TELEMETRY"
                      disableAttributeScopeSelection
                      [active]="telemetryTab.isActive"
                      [entityId]="entity.id"
                      [entityName]="entity.name">
  </tb-attribute-table>
</mat-tab>
<mat-tab *ngIf="entity"
         label="{{ 'alarm.alarms' | translate }}" #alarmsTab="matTab">
  <tb-alarm-table [active]="alarmsTab.isActive" [entityId]="entity.id"></tb-alarm-table>
</mat-tab>
<mat-tab *ngIf="entity"
         label="{{ 'asset.events' | translate }}" #eventsTab="matTab">
  <tb-event-table [defaultEventType]="eventTypes.ERROR" [active]="eventsTab.isActive" [tenantId]="entity.tenantId.id"
                  [entityId]="entity.id"></tb-event-table>
</mat-tab>
<mat-tab *ngIf="entity"
         label="{{ 'relation.relations' | translate }}" #relationsTab="matTab">
  <tb-relation-table [active]="relationsTab.isActive" [entityId]="entity.id"></tb-relation-table>
</mat-tab>
<mat-tab *ngIf="entity && authUser.authority === authorities.TENANT_ADMIN"
         label="{{ 'audit-log.audit-logs' | translate }}" #auditLogsTab="matTab">
  <tb-audit-log-table detailsMode="true" [active]="auditLogsTab.isActive" [auditLogMode]="auditLogModes.ENTITY" [entityId]="entity.id"></tb-audit-log-table>
</mat-tab>
