<!-- -->
<form [formGroup]="attributeFormGroup" (ngSubmit)="add()" style="min-width: 400px;">
  <mat-toolbar color="primary">
    <h2>{{ 'attribute.add' | translate }}</h2>
    <span fxFlex></span>
    <button mat-button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async">
      <mat-form-field class="mat-block">
        <mat-label translate>attribute.key</mat-label>
        <input matInput formControlName="key" required>
        <mat-error *ngIf="attributeFormGroup.get('key').hasError('required')">
          {{ 'attribute.key-required' | translate }}
        </mat-error>
      </mat-form-field>
      <tb-value-input
        formControlName="value"
        requiredText="attribute.value-required">
      </tb-value-input>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || attributeFormGroup.invalid || !attributeFormGroup.dirty">
      {{ 'action.add' | translate }}
    </button>
  </div>
</form>
