<!-- -->
<form [formGroup]="addWidgetFormGroup" (ngSubmit)="add()" style="min-width: 400px;">
  <mat-toolbar color="primary">
    <h2 translate>attribute.add-widget-to-dashboard</h2>
    <span fxFlex></span>
    <button mat-button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div mat-dialog-content fxLayout="column">
    <fieldset [disabled]="isLoading$ | async">
      <mat-radio-group formControlName="addToDashboardType">
        <mat-radio-button [value]="0" color="primary">
          <section fxLayout="column" style="width: 300px;">
            <span translate>dashboard.select-existing</span>
            <tb-dashboard-autocomplete formControlName="dashboardId"
                                       [required]="addWidgetFormGroup.get('addToDashboardType').value === 0"
                                       [selectFirstDashboard]="false">
            </tb-dashboard-autocomplete>
          </section>
        </mat-radio-button>
        <mat-radio-button [value]="1" color="primary">
          <section fxLayout="column" style="width: 300px;">
            <span translate>dashboard.create-new</span>
            <mat-form-field class="mat-block">
              <mat-label translate>dashboard.new-dashboard-title</mat-label>
              <input matInput formControlName="newDashboardTitle"
                     [required]="addWidgetFormGroup.get('addToDashboardType').value === 1">
              <mat-error *ngIf="addWidgetFormGroup.get('newDashboardTitle').hasError('required')">
                {{ 'dashboard.title-required' | translate }}
              </mat-error>
            </mat-form-field>
          </section>
        </mat-radio-button>
      </mat-radio-group>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayout="row">
    <mat-checkbox formControlName="openDashboard"
                  style="margin-bottom: 0;">
      {{ 'dashboard.open-dashboard' | translate }}
    </mat-checkbox>
    <span fxFlex></span>
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || addWidgetFormGroup.invalid || !addWidgetFormGroup.dirty">
      {{ 'action.add' | translate }}
    </button>
  </div>
</form>
