<!-- -->
<form class="mat-elevation-z1"
      [formGroup]="attributeFormGroup" (ngSubmit)="update()" style="width: 400px; padding: 5px;">
  <fieldset [disabled]="isLoading$ | async">
    <tb-value-input
      formControlName="value"
      requiredText="attribute.value-required">
    </tb-value-input>
  </fieldset>
  <div fxLayout="row" class="tb-panel-actions">
    <span fxFlex></span>
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || attributeFormGroup.invalid || !attributeFormGroup.dirty">
      {{ 'action.update' | translate }}
    </button>
  </div>
</form>
