<!-- -->
<form [formGroup]="awsSnsProviderConfigurationFormGroup" style="padding-bottom: 16px;">
  <mat-form-field class="mat-block">
    <mat-label translate>admin.aws-access-key-id</mat-label>
    <input required matInput formControlName="accessKeyId">
    <mat-error *ngIf="awsSnsProviderConfigurationFormGroup.get('accessKeyId').hasError('required')">
      {{ 'admin.aws-access-key-id-required' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="mat-block">
    <mat-label translate>admin.aws-secret-access-key</mat-label>
    <input required type="password" matInput formControlName="secretAccessKey">
    <mat-error *ngIf="awsSnsProviderConfigurationFormGroup.get('secretAccessKey').hasError('required')">
      {{ 'admin.aws-secret-access-key-required' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="mat-block">
    <mat-label translate>admin.aws-region</mat-label>
    <input required matInput formControlName="region">
    <mat-error *ngIf="awsSnsProviderConfigurationFormGroup.get('region').hasError('required')">
      {{ 'admin.aws-region-required' | translate }}
    </mat-error>
  </mat-form-field>
</form>
