<!-- -->
<form [formGroup]="twilioSmsProviderConfigurationFormGroup" style="padding-bottom: 16px;">
  <mat-form-field class="mat-block">
    <mat-label translate>admin.number-from</mat-label>
    <input type="tel" required [pattern]="phoneNumberPatternTwilio" matInput formControlName="numberFrom">
    <mat-error *ngIf="twilioSmsProviderConfigurationFormGroup.get('numberFrom').hasError('required')">
      {{ 'admin.number-from-required' | translate }}
    </mat-error>
    <mat-error *ngIf="twilioSmsProviderConfigurationFormGroup.get('numberFrom').hasError('pattern')">
      {{ 'admin.phone-number-pattern-twilio' | translate }}
    </mat-error>
    <mat-hint innerHTML="{{ 'admin.phone-number-hint-twilio' | translate }}"></mat-hint>
  </mat-form-field>
  <mat-form-field class="mat-block">
    <mat-label translate>admin.twilio-account-sid</mat-label>
    <input required matInput formControlName="accountSid">
    <mat-error *ngIf="twilioSmsProviderConfigurationFormGroup.get('accountSid').hasError('required')">
      {{ 'admin.twilio-account-sid-required' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="mat-block">
    <mat-label translate>admin.twilio-account-token</mat-label>
    <input required type="password" autocomplete="new-password" matInput formControlName="accountToken">
    <mat-error *ngIf="twilioSmsProviderConfigurationFormGroup.get('accountToken').hasError('required')">
      {{ 'admin.twilio-account-token-required' | translate }}
    </mat-error>
  </mat-form-field>
</form>
