<!-- -->
<div fxFlex fxLayout="column" class="tb-progress-cover" fxLayoutAlign="center center"
     [ngStyle]="dashboardStyle"
     [style.backgroundImage]="backgroundImage"
     [fxShow]="(isLoading$ | async) && !ignoreLoading && !isEdit">
  <mat-spinner color="warn" mode="indeterminate" diameter="100">
  </mat-spinner>
</div>
<div id="gridster-parent"
     fxFlex class="tb-dashboard-content layout-wrap" [ngStyle]="{overflowY: isAutofillHeight() ? 'hidden' : 'auto'}"
                (contextmenu)="openDashboardContextMenu($event)">
  <div #dashboardMenuTrigger="matMenuTrigger" style="visibility: hidden; position: fixed"
       [style.left]="dashboardMenuPosition.x"
       [style.top]="dashboardMenuPosition.y"
       [matMenuTriggerFor]="dashboardMenu">
  </div>
  <mat-menu #dashboardMenu="matMenu">
    <ng-template matMenuContent let-items="items">
      <div class="tb-dashboard-context-menu-items">
        <button mat-menu-item *ngFor="let item of items;"
                [disabled]="!item.enabled"
                (click)="item.action(dashboardContextMenuEvent)">
          <span *ngIf="item.shortcut" class="tb-alt-text"> {{ item.shortcut | keyboardShortcut }}</span>
          <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
          <span translate>{{item.value}}</span>
        </button>
      </div>
    </ng-template>
  </mat-menu>
  <div #widgetMenuTrigger="matMenuTrigger" style="visibility: hidden; position: fixed"
       [style.left]="widgetMenuPosition.x"
       [style.top]="widgetMenuPosition.y"
       [matMenuTriggerFor]="widgetMenu">
  </div>
  <mat-menu #widgetMenu="matMenu">
    <ng-template matMenuContent let-items="items" let-widget="widget">
      <div class="tb-dashboard-context-menu-items">
        <button mat-menu-item *ngFor="let item of items;"
                [disabled]="!item.enabled"
                (click)="item.action(widgetContextMenuEvent, widget)">
          <span *ngIf="item.shortcut" class="tb-alt-text"> {{ item.shortcut | keyboardShortcut }}</span>
          <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
          <span translate>{{item.value}}</span>
        </button>
      </div>
    </ng-template>
  </mat-menu>
  <div [ngClass]="dashboardClass" id="gridster-background" style="height: auto; min-height: 100%; display: inline;">
    <gridster #gridster id="gridster-child" [options]="gridsterOpts">
      <gridster-item [item]="widget" class="tb-noselect" *ngFor="let widget of dashboardWidgets">
        <div tb-fullscreen [fullscreen]="widget.isFullscreen"
             [fullscreenBackgroundStyle]="dashboardStyle"
             [fullscreenBackgroundImage]="backgroundImage"
             (fullscreenChanged)="onWidgetFullscreenChanged($event, widget)"
             fxLayout="column"
             class="tb-widget"
             [ngClass]="{
                'tb-highlighted': isHighlighted(widget),
                'tb-not-highlighted': isNotHighlighted(widget),
                'mat-elevation-z4': widget.dropShadow,
                'tb-has-timewindow': widget.hasTimewindow
             }"
             [ngStyle]="widget.style"
             (mousedown)="widgetMouseDown($event, widget)"
             (click)="widgetClicked($event, widget)"
             (contextmenu)="openWidgetContextMenu($event, widget)">
          <div *ngIf="widgetComponent.widgetContext?.inited" fxLayout="row" fxLayoutAlign="space-between start">
            <div class="tb-widget-title" fxLayout="column" fxLayoutAlign="center start" *ngIf="widget.showWidgetTitlePanel">
              <span *ngIf="widget.showTitle"
                    [ngClass]="{'single-row': widget.hasTimewindow}"
                    [ngStyle]="widget.titleStyle"
                    [matTooltip]="widget.titleTooltip"
                    matTooltipClass="tb-tooltip-multiline"
                    matTooltipPosition="above"
                    class="mat-subheading-2 title">
                <mat-icon *ngIf="widget.showTitleIcon" [ngStyle]="widget.titleIconStyle">{{widget.titleIcon}}</mat-icon>
                {{widget.customTranslatedTitle}}
              </span>
              <tb-timewindow *ngIf="widget.hasTimewindow"
                             aggregation="{{widget.hasAggregation}}"
                             timezone="true"
                             [isEdit]="isEdit"
                             [(ngModel)]="widgetComponent.widget.config.timewindow"
                             (ngModelChange)="widgetComponent.onTimewindowChanged($event)">
              </tb-timewindow>
            </div>
            <div *ngIf="widget.showWidgetActions"
                 class="tb-widget-actions"
                 [ngClass]="{'tb-widget-actions-absolute': !(widget.showWidgetTitlePanel&&(widget.showTitle||widget.hasAggregation))}"
                 fxLayout="row"
                 fxLayoutAlign="start center"
                 (mousedown)="$event.stopPropagation()">
              <button mat-button mat-icon-button *ngFor="let action of widget.customHeaderActions"
                    [fxShow]="!isEdit"
                    (click)="action.onAction($event)"
                    matTooltip="{{ action.displayName }}"
                    matTooltipPosition="above">
                <mat-icon>{{ action.icon }}</mat-icon>
              </button>
              <button mat-button mat-icon-button *ngFor="let action of widget.widgetActions"
                      [fxShow]="!isEdit && action.show"
                      (click)="action.onAction($event)"
                      matTooltip="{{ action.name | translate }}"
                      matTooltipPosition="above">
                <mat-icon>{{ action.icon }}</mat-icon>
              </button>
              <button mat-button mat-icon-button
                      [fxShow]="!isEdit && widget.enableFullscreen"
                      (click)="$event.stopPropagation(); widget.isFullscreen = !widget.isFullscreen"
                      matTooltip="{{(widget.isFullscreen ? 'fullscreen.exit' : 'fullscreen.expand') | translate}}"
                      matTooltipPosition="above">
                <mat-icon>{{ widget.isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
              </button>
              <button mat-button mat-icon-button
                      [fxShow]="isEditActionEnabled && !widget.isFullscreen"
                      (click)="editWidget($event, widget)"
                      matTooltip="{{ 'widget.edit' | translate }}"
                      matTooltipPosition="above">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-button mat-icon-button
                      [fxShow]="isExportActionEnabled && !widget.isFullscreen"
                      (click)="exportWidget($event, widget)"
                      matTooltip="{{ 'widget.export' | translate }}"
                      matTooltipPosition="above">
                <mat-icon>file_download</mat-icon>
              </button>
              <button mat-button mat-icon-button
                      [fxShow]="isRemoveActionEnabled && !widget.isFullscreen"
                      (click)="removeWidget($event, widget);"
                      matTooltip="{{ 'widget.remove' | translate }}"
                      matTooltipPosition="above">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
          <div fxFlex fxLayout="column" class="tb-widget-content" [ngClass]="{'tb-no-interaction': disableWidgetInteraction}">
            <tb-widget fxFlex
                       #widgetComponent
                       [dashboardWidget]="widget"
                       [isEdit]="isEdit"
                       [isMobile]="isMobileSize">
            </tb-widget>
          </div>
        </div>
      </gridster-item>
    </gridster>
  </div>
</div>
