<!-- -->
<form [formGroup]="stateFormGroup" (ngSubmit)="save()">
  <mat-toolbar color="primary">
    <h2 translate>dashboard.select-state</h2>
    <span fxFlex></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async" fxLayout="column">
      <mat-form-field class="mat-block">
        <mat-label translate>dashboard.state</mat-label>
        <mat-select required formControlName="stateId">
          <mat-option *ngFor="let stateItem of states | keyvalue" [value]="stateItem.key">
            {{ stateItem.value.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()"
            cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || stateFormGroup.invalid">
      {{ 'action.select' | translate }}
    </button>
  </div>
</form>
