<!-- -->
<form>
  <mat-toolbar color="primary">
    <h2 translate>layout.select</h2>
    <span fxFlex></span>
    <button mat-icon-button
      (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async" fxLayout="column" fxLayoutGap="8px">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <button fxFlex
                mat-raised-button color="primary"
                type="button"
                class="tb-layout-button"
                (click)="selectLayout('main')">
          <span translate>layout.main</span>
        </button>
        <button fxFlex
                mat-raised-button color="primary"
                type="button"
                class="tb-layout-button"
                (click)="selectLayout('right')">
          <span translate>layout.right</span>
        </button>
      </div>
    </fieldset>
  </div>
</form>
