<!-- -->
<button cdkOverlayOrigin #legendConfigPanelOrigin="cdkOverlayOrigin" [disabled]="disabled"
        type="button"
        mat-button mat-raised-button color="primary" (click)="openEditMode()">
  <mat-icon class="material-icons">toc</mat-icon>
  <span translate>legend.settings</span>
</button>
