<!-- -->
<form [formGroup]="legendConfigForm">
  <fieldset [disabled]="(isLoading$ | async)">
    <div class="mat-content" style="height: 100%;">
      <div class="mat-padding">
        <section fxLayout="column">
          <mat-form-field>
            <mat-label translate>legend.direction</mat-label>
            <mat-select matInput formControlName="direction" style="min-width: 150px;">
              <mat-option *ngFor="let direction of legendDirections" [value]="direction">
                {{ legendDirectionTranslations.get(legendDirection[direction]) | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label translate>legend.position</mat-label>
            <mat-select matInput formControlName="position" style="min-width: 150px;">
              <mat-option *ngFor="let pos of legendPositions" [value]="pos"
                  [disabled]="legendConfigForm.get('direction').value === legendDirection.row &&
                  (pos === legendPosition.left || pos === legendPosition.right)">
                {{ legendPositionTranslations.get(legendPosition[pos]) | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox formControlName="sortDataKeys">
            {{ 'legend.sort-legend' | translate }}
          </mat-checkbox>
          <mat-checkbox formControlName="showMin">
            {{ 'legend.show-min' | translate }}
          </mat-checkbox>
          <mat-checkbox formControlName="showMax">
            {{ 'legend.show-max' | translate }}
          </mat-checkbox>
          <mat-checkbox formControlName="showAvg">
            {{ 'legend.show-avg' | translate }}
          </mat-checkbox>
          <mat-checkbox formControlName="showTotal">
            {{ 'legend.show-total' | translate }}
          </mat-checkbox>
        </section>
      </div>
    </div>
  </fieldset>
</form>
