<!-- -->
<div class="tb-absolute-fill" [fxLayout]="legendContainerLayoutType" tb-toast
     toastTarget="{{ toastTargetId }}">
  <tb-legend *ngIf="displayLegend && isLegendFirst"
             [ngStyle]="legendStyle"
             [legendConfig]="legendConfig"
             [legendData]="legendData"
             (legendKeyHiddenChange)="onLegendKeyHiddenChange($event)">
  </tb-legend>
  <div fxFlex id="widget-container">
    <ng-container #widgetContent></ng-container>
  </div>
  <tb-legend *ngIf="displayLegend && !isLegendFirst"
             [ngStyle]="legendStyle"
             [legendConfig]="legendConfig"
             [legendData]="legendData"
             (legendKeyHiddenChange)="onLegendKeyHiddenChange($event)">
  </tb-legend>
</div>
<div class="tb-absolute-fill tb-widget-error" *ngIf="widgetErrorData">
  <span>Widget Error: {{ widgetErrorData.name + ": " + widgetErrorData.message}}</span>
</div>
<div class="tb-absolute-fill tb-widget-no-data" *ngIf="displayNoData">
  <span fxLayoutAlign="center center"
        style="display: flex;"
        class="tb-absolute-fill"
        translate>widget.no-data</span>
</div>
<div class="tb-absolute-fill tb-widget-loading" [fxShow]="loadingData" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner color="accent" md-mode="indeterminate" diameter="40"></mat-spinner>
</div>
