<!-- -->
<div class="tb-custom-action-pretty mat-elevation-z1" tb-fullscreen [fullscreen]="fullscreen">
  <div fxLayout="row" fxLayoutAlign="end center" class="tb-action-expand-button" [ngClass]="{'tb-fullscreen-editor': fullscreen}">
    <button mat-button fxHide.lt-md
            matTooltip="{{ 'widget.toggle-fullscreen' | translate }}"
            matTooltipPosition="above"
            (click)="fullscreen = !fullscreen">
      <mat-icon>{{ fullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
      <span *ngIf="fullscreen" translate>widget.toggle-fullscreen</span>
    </button>
  </div>
  <div class="tb-custom-action-editor" [ngClass]="{'tb-fullscreen-editor': fullscreen}">
    <div *ngIf="!fullscreen; else fullscreenEditor">
      <tb-custom-action-pretty-resources-tabs [hasCustomFunction]="true"
                                              [action]="action" (actionUpdated)="onActionUpdated($event ? true : false)">
      </tb-custom-action-pretty-resources-tabs>
    </div>
    <ng-template #fullscreenEditor>
      <div class="tb-fullscreen-panel tb-layout-fill" fxLayout="row">
        <div #leftPanel class="tb-split tb-content">
          <tb-custom-action-pretty-resources-tabs [hasCustomFunction]="false"
                                                  [action]="action" (actionUpdated)="onActionUpdated($event ? true : false)">
          </tb-custom-action-pretty-resources-tabs>
        </div>
        <div #rightPanel class="tb-split tb-content right-panel">
          <tb-js-func
            [(ngModel)]="action.customFunction"
            (ngModelChange)="onActionUpdated()"
            [fillHeight]="true"
            [functionArgs]="['$event', 'widgetContext', 'entityId', 'entityName', 'htmlTemplate', 'additionalParams', 'entityLabel']"
            [validationArgs]="[]"
            [editorCompleter]="customPrettyActionEditorCompleter">
          </tb-js-func>
        </div>
      </div>
    </ng-template>
  </div>
</div>
