<!-- -->
<mat-tab-group selectedIndex="{{hasCustomFunction ? 3 : 2}}" dynamicHeight="true" style="width: 100%; height: 100%;">
  <mat-tab label="{{ 'widget.resources' | translate }}" style="width: 100%; height: 100%;">
    <div class="tb-custom-action-editor-container" style="background-color: #fff;">
      <div class="mat-padding">
        <div fxFlex fxLayout="row" style="max-height: 40px;"
             fxLayoutAlign="start center"
             *ngFor="let resource of action.customResources; let i = index" >
          <mat-form-field fxFlex class="mat-block resource-field" floatLabel="never"
                          style="margin: 10px 0 0; max-height: 40px;">
            <input required matInput [(ngModel)]="resource.url"
                   (ngModelChange)="notifyActionUpdated()"
                   placeholder="{{ 'widget.resource-url' | translate }}"/>
          </mat-form-field>
          <button mat-icon-button color="primary"
                  [disabled]="isLoading$ | async"
                  type="button"
                  (click)="removeResource(i)"
                  matTooltip="{{'widget.remove-resource' | translate}}"
                  matTooltipPosition="above">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div style="margin-top: 6px;">
          <button mat-button mat-raised-button color="primary"
                  [disabled]="isLoading$ | async"
                  type="button"
                  (click)="addResource()"
                  matTooltip="{{'widget.add-resource' | translate}}"
                  matTooltipPosition="above">
            <span translate>action.add</span>
          </button>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="{{ 'widget.css' | translate }}" style="width: 100%; height: 100%;">
    <div class="tb-custom-action-editor-container" tb-fullscreen [fullscreen]="cssFullscreen">
      <div class="tb-editor-area-title-panel">
        <button mat-button
                type="button"
                (click)="beautifyCss()">
          {{ 'widget.tidy' | translate }}
        </button>
        <button mat-button
                type="button"
                mat-icon-button class="tb-mat-32"
                (click)="cssFullscreen = !cssFullscreen"
                matTooltip="{{(cssFullscreen ? 'fullscreen.exit' : 'fullscreen.expand') | translate}}"
                matTooltipPosition="above">
          <mat-icon>{{ cssFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
        </button>
      </div>
      <div #cssInput class="css-panel"></div>
    </div>
  </mat-tab>
  <mat-tab label="{{ 'widget.html' | translate }}" style="width: 100%; height: 100%;">
    <div class="tb-custom-action-editor-container" tb-fullscreen [fullscreen]="htmlFullscreen">
      <div class="tb-editor-area-title-panel">
        <button mat-button
                type="button" (click)="beautifyHtml()">
          {{ 'widget.tidy' | translate }}
        </button>
        <button mat-button
                type="button"
                mat-icon-button class="tb-mat-32"
                (click)="htmlFullscreen = !htmlFullscreen"
                matTooltip="{{(htmlFullscreen ? 'fullscreen.exit' : 'fullscreen.expand') | translate}}"
                matTooltipPosition="above">
          <mat-icon>{{ htmlFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
        </button>
      </div>
      <div #htmlInput class="html-panel"></div>
    </div>
  </mat-tab>
  <mat-tab *ngIf="hasCustomFunction" label="{{ 'widget.js' | translate }}" style="width: 100%; height: 100%;">
    <tb-js-func
      [(ngModel)]="action.customFunction"
      (ngModelChange)="notifyActionUpdated()"
      [functionArgs]="['$event', 'widgetContext', 'entityId', 'entityName', 'htmlTemplate', 'additionalParams', 'entityLabel']"
      [validationArgs]="[]"
      [editorCompleter]="customPrettyActionEditorCompleter">
    </tb-js-func>
  </mat-tab>
</mat-tab-group>
