<!-- -->
<mat-toolbar color="primary">
  <h2 translate>audit-log.audit-log-details</h2>
  <span fxFlex></span>
  <button mat-button mat-icon-button
          [mat-dialog-close]="false"
          type="button">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content fxLayout="column">
  <label translate class="tb-title no-padding">audit-log.action-data</label>
  <div #actionDataEditor class="tb-audit-log-action-data">
  </div>
  <span style="min-height: 30px;"></span>
  <label [fxShow]="displayFailureDetails" translate class="tb-title no-padding">audit-log.failure-details</label>
  <div #failureDetailsEditor [fxShow]="displayFailureDetails" class="tb-audit-log-failure-details">
  </div>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button color="primary"
          type="button"
          [disabled]="(isLoading$ | async)"
          [mat-dialog-close]="false" cdkFocusInitial>
    {{ 'action.close' | translate }}
  </button>
</div>
