<!-- -->
<tb-details-panel fxFlex
                   [headerTitle]="entitiesTableConfig.entityTitle(entity)"
                   headerSubtitle="{{ translations.details | translate }}"
                   [isReadOnly]="entitiesTableConfig.detailsReadonly(entity)"
                   [isEdit]="isEditValue"
                   (closeDetails)="onCloseEntityDetails()"
                   (toggleDetailsEditMode)="onToggleEditMode($event)"
                   (applyDetails)="saveEntity()"
                   [theForm]="detailsForm">
  <div class="details-buttons">
    <div [tb-help]="helpLinkId()"></div>
  </div>
  <mat-tab-group class="tb-absolute-fill" [ngClass]="{'tb-headless': hideDetailsTabs()}" fxFlex [(selectedIndex)]="selectedTab">
    <mat-tab label="{{ 'details.details' | translate }}">
      <tb-anchor #entityDetailsForm></tb-anchor>
    </mat-tab>
    <tb-anchor #entityTabs></tb-anchor>
  </mat-tab-group>
</tb-details-panel>
