<!-- -->
<div fxLayout="column" class="tb-entity-filter-view">
  <div *ngIf="!filter || !filter.type; else filterView" class="entity-filter-empty" translate>alias.no-entity-filter-specified</div>
  <ng-template #filterView>
    <div fxLayout="column">
      <div class="entity-filter-value">{{ filterDisplayValue }}</div>
    </div>
  </ng-template>
</div>
