<!-- -->
<div fxLayout="column" class="mat-content mat-padding">
  <div fxLayout="row" *ngFor="let alias of entityAliasesInfo | keyvalue">
    <tb-aliases-entity-autocomplete fxFlex
      required
      [alias]="alias.value.alias"
      [entityFilter]="alias.value.entityFilter"
      [(ngModel)]="alias.value.currentEntity"
      (ngModelChange)="currentAliasEntityChanged(alias.key, alias.value.currentEntity)">
    </tb-aliases-entity-autocomplete>
  </div>
</div>
