<!-- -->
<form [formGroup]="entityAliasesFormGroup" (ngSubmit)="save()" style="width: 700px;">
  <mat-toolbar color="primary">
    <h2>{{ title | translate }}</h2>
    <span fxFlex></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content>
    <div class="tb-aliases-header" fxLayout="row" fxLayoutAlign="start center">
      <span fxFlex="5"></span>
      <div fxFlex="95" fxLayout="row" fxLayoutAlign="start center">
        <span class="tb-header-label" translate fxFlex="150px">alias.name</span>
        <span class="tb-header-label" translate fxFlex style="padding-left: 10px;">alias.entity-filter</span>
        <span class="tb-header-label" translate fxFlex="120px" style="padding-left: 10px;">alias.resolve-multiple</span>
        <span style="min-width: 80px;"></span>
      </div>
    </div>
    <fieldset [disabled]="isLoading$ | async">
      <mat-divider></mat-divider>
      <div fxFlex fxLayout="row" fxLayoutAlign="start center"
           formArrayName="entityAliases"
           *ngFor="let entityAliasControl of entityAliasesFormArray().controls; let $index = index">
        <span fxFlex="5">{{$index + 1}}.</span>
        <div class="mat-elevation-z4 tb-alias" fxFlex="95" fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field floatLabel="always" hideRequiredMarker class="mat-block" fxFlex="150px">
            <mat-label></mat-label>
            <input matInput [formControl]="entityAliasControl.get('alias')" required placeholder="{{ 'entity.alias' | translate }}">
            <mat-error *ngIf="entityAliasControl.get('alias').hasError('required')">
              {{ 'entity.alias-required' | translate }}
            </mat-error>
          </mat-form-field>
          <tb-entity-filter-view fxFlex style="padding-left: 10px;" [formControl]="entityAliasControl.get('filter')">
          </tb-entity-filter-view>
          <section fxFlex="120px" style="padding-left: 10px;"
                   class="tb-resolve-multiple-switch"
                   fxLayout="column"
                   fxLayoutAlign="center center">
            <mat-slide-toggle class="resolve-multiple-switch"
                   [formControl]="entityAliasControl.get('resolveMultiple')">
            </mat-slide-toggle>
          </section>
          <button [disabled]="isLoading$ | async"
                  mat-icon-button color="primary"
                  style="min-width: 40px;"
                  type="button"
                  (click)="editAlias($index)"
                  matTooltip="{{ 'alias.edit' | translate }}"
                  matTooltipPosition="above">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="isLoading$ | async"
                  mat-icon-button color="primary"
                  style="min-width: 40px;"
                  type="button"
                  (click)="removeAlias($index)"
                  matTooltip="{{ 'entity.remove-alias' | translate }}"
                  matTooltipPosition="above">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </fieldset>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary"
            type="button"
            (click)="addAlias()"
            [fxShow]="!disableAdd"
            [disabled]="isLoading$ | async"
            matTooltip="{{ 'alias.add' | translate }}"
            matTooltipPosition="above">
      {{ 'alias.add' | translate }}
    </button>
    <span fxFlex></span>
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()"
            cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || entityAliasesFormGroup.invalid || !entityAliasesFormGroup.dirty">
      {{ 'action.save' | translate }}
    </button>
  </div>
</form>
