/**
 * Copyright © 2016-2021 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
:host {
  display: flex;
  width: 100%;
  height: 100%;

  .tb-invisible {
    display: none !important;
  }

  mat-sidenav-container {
    flex: 1;
  }
  mat-sidenav.tb-site-sidenav {
    width: 250px;
    @media (max-width:456px) {
      width: calc(100% - 56px);
    }
    .tb-nav-header {
      z-index: 2;
      flex-shrink: 0;
      white-space: nowrap;
      .tb-nav-header-toolbar {
        min-height: 64px;
        height: inherit;
        padding: 0;
        z-index: 2;
        flex-shrink: 0;
        white-space: nowrap;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        & > div {
          height: 64px;
          .tb-logo-title {
            width: auto;
            max-width: 100%;
            height: 54px;
            max-height: 100%;
            margin: auto;
          }
        }
      }
    }
    .tb-side-menu-toolbar {
      overflow-y: auto;
      height: inherit;
      padding: 0;
    }
  }
  .tb-primary-toolbar {
    z-index: 2;
    h1 {
      font-size: 24px !important;
      font-weight: 400 !important;
    }
  }
  .tb-main-content {
    overflow: auto;
    position: relative;
  }
}
