<!-- -->
<div class="tb-led-indicator" fxLayout="column">
  <div fxFlex="20" #ledTitleContainer class="title-container" fxLayout="row" fxLayoutAlign="center center" [fxShow]="showTitle">
    <span #ledTitle class="led-title">{{title}}</span>
  </div>
  <div fxFlex="{{showTitle ? 80 : 100}}"
       [ngStyle]="{paddingTop: showTitle ? '5px': '10px'}" #ledContainer id="led-container" fxLayout="column" fxLayoutAlign="center center">
    <div #led class="led">
    </div>
  </div>
  <div #ledErrorContainer class="error-container" [ngStyle]="{'background': error?.length ? 'rgba(255,255,255,0.25)' : 'none'}"
       fxLayout="row" fxLayoutAlign="center center">
    <span #ledError class="led-error">{{ error }}</span>
  </div>
  <div #textMeasure id="text-measure"></div>
</div>
