<!-- -->
<div class="tb-round-switch" fxLayout="column" [ngStyle]="{'pointerEvents': ctx.isEdit ? 'none' : 'all'}">
  <div #switchTitleContainer fxFlex="20" class="title-container" fxLayout="row" fxLayoutAlign="center center" [fxShow]="showTitle">
    <span #switchTitle class="switch-title">{{title}}</span>
  </div>
  <div #switchContainer fxFlex="{{showTitle ? 80 : 100}}" [ngStyle]="{paddingTop: showTitle ? '5px': '10px'}" id="switch-container" fxLayout="column" fxLayoutAlign="center center">
    <div #switch class="switch">
      <input #onoff type="checkbox" id="{{checkboxId}}" name="onoff" />
      <div class="back">
        <label class="but" for="{{checkboxId}}">
          <span class="on">I</span>
          <span class="off">0</span>
        </label>
      </div>
    </div>
  </div>
  <div #switchErrorContainer class="error-container" [ngStyle]="{'background': error?.length ? 'rgba(255,255,255,0.25)' : 'none'}"
       fxLayout="row" fxLayoutAlign="center center">
    <span #switchError class="switch-error">{{ error }}</span>
  </div>
  <div #textMeasure id="text-measure"></div>
</div>
