<!-- -->
<form [formGroup]="saveWidgetTypeAsFormGroup" (ngSubmit)="saveAs()">
  <mat-toolbar color="primary">
    <h2 translate>widget.save-widget-type-as</h2>
    <span fxFlex></span>
    <button mat-button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content>
    <fieldset>
      <span translate>widget.save-widget-type-as-text</span>
      <mat-form-field class="mat-block">
        <mat-label translate>widget.title</mat-label>
        <input matInput formControlName="title" required>
        <mat-error *ngIf="saveWidgetTypeAsFormGroup.get('title').hasError('required')">
          {{ 'widget.title-required' | translate }}
        </mat-error>
      </mat-form-field>
      <tb-widgets-bundle-select fxFlex
                                formControlName="widgetsBundle"
                                required
                                bundlesScope="{{bundlesScope}}">
      </tb-widgets-bundle-select>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || saveWidgetTypeAsFormGroup.invalid
            || !saveWidgetTypeAsFormGroup.dirty">
      {{ 'action.saveAs' | translate }}
    </button>
  </div>
</form>
