<!-- -->
<div class="tb-details-buttons" fxLayout.xs="column">
  <button mat-raised-button color="primary"
          [disabled]="(isLoading$ | async)"
          (click)="onEntityAction($event, 'open')"
          [fxShow]="!isEdit">
    {{'widgets-bundle.open-widgets-bundle' | translate }}
  </button>
  <button mat-raised-button color="primary"
          [disabled]="(isLoading$ | async)"
          (click)="onEntityAction($event, 'export')"
          [fxShow]="!isEdit">
    {{'widgets-bundle.export' | translate }}
  </button>
  <button mat-raised-button color="primary"
          [disabled]="(isLoading$ | async)"
          (click)="onEntityAction($event, 'delete')"
          [fxShow]="!hideDelete() && !isEdit">
    {{'widgets-bundle.delete' | translate }}
  </button>
</div>
<div class="mat-padding" fxLayout="column">
  <form [formGroup]="entityForm">
    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
      <mat-form-field class="mat-block">
        <mat-label translate>widgets-bundle.title</mat-label>
        <input matInput formControlName="title" required>
        <mat-error *ngIf="entityForm.get('title').hasError('required')">
          {{ 'widgets-bundle.title-required' | translate }}
        </mat-error>
      </mat-form-field>
      <tb-image-input fxFlex
                      label="{{'widgets-bundle.image-preview' | translate}}"
                      maxSizeByte="524288"
                      formControlName="image">
      </tb-image-input>
      <mat-form-field class="mat-block">
        <mat-label translate>widgets-bundle.description</mat-label>
        <textarea matInput formControlName="description" rows="2" maxlength="255" #descriptionInput></textarea>
        <mat-hint align="end">{{descriptionInput.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
    </fieldset>
  </form>
</div>
