<!-- -->
<section [fxShow]="!(isLoading$ | async) && widgetsData.widgets.length === 0" fxLayoutAlign="center center"
         style="display: flex; z-index: 1;"
         class="tb-absolute-fill">
  <button mat-button *ngIf="!isReadOnly" class="tb-add-new-widget" (click)="addWidgetType($event)">
    <mat-icon class="tb-mat-96">add</mat-icon>
    {{ 'widget.add-widget-type' | translate }}
  </button>
  <span translate *ngIf="isReadOnly"
        fxLayoutAlign="center center"
        style="display: flex;"
        class="mat-headline tb-absolute-fill">widgets-bundle.empty</span>
</section>
<tb-dashboard #dashboard
              [aliasController]="aliasController"
              [widgets]="widgetsData.widgets"
              [widgetLayouts]="widgetsData.widgetLayouts"
              [isEdit]="false"
              [isEditActionEnabled]="true"
              [isExportActionEnabled]="true"
              [isRemoveActionEnabled]="!isReadOnly"
              [disableWidgetInteraction]="true"
              [callbacks]="dashboardCallbacks"></tb-dashboard>
<tb-footer-fab-buttons [fxShow]="!isReadOnly" [footerFabButtons]="footerFabButtons">
</tb-footer-fab-buttons>
