<!-- -->
<form (ngSubmit)="add()" style="min-width: 650px;">
  <mat-toolbar color="primary">
    <h2 translate>rulenode.add</h2>
    <span fxFlex>: {{ruleNode.component.name}}</span>
    <div [tb-help]="helpLinkIdForRuleNodeType()"></div>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async">
      <tb-rule-node #tbRuleNode
        [ruleNode]="ruleNode"
        [ruleChainId]="ruleChainId"
        [isEdit]="true"
        [isAdd]="true"
        [isReadOnly]="false">
      </tb-rule-node>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || tbRuleNode.ruleNodeFormGroup.invalid || !tbRuleNode.ruleNodeFormGroup.dirty">
      {{ 'action.add' | translate }}
    </button>
  </div>
</form>
