<!-- -->
<div class="tb-details-buttons">
  <button mat-raised-button color="primary"
          [disabled]="(isLoading$ | async)"
          (click)="onEntityAction($event, 'open')"
          [fxShow]="!isEdit">
    {{'rulechain.open-rulechain' | translate }}
  </button>
  <button mat-raised-button color="primary"
          [disabled]="(isLoading$ | async)"
          (click)="onEntityAction($event, 'export')"
          [fxShow]="!isEdit">
    {{'rulechain.export' | translate }}
  </button>
  <button mat-raised-button color="primary"
          [disabled]="(isLoading$ | async)"
          (click)="onEntityAction($event, 'setRoot')"
          [fxShow]="!isEdit && !entity?.root">
    {{'rulechain.set-root' | translate }}
  </button>
  <button mat-raised-button color="primary"
          [disabled]="(isLoading$ | async)"
          (click)="onEntityAction($event, 'delete')"
          [fxShow]="!hideDelete() && !isEdit">
    {{'rulechain.delete' | translate }}
  </button>
  <div fxLayout="row">
    <button mat-raised-button
            ngxClipboard
            (cbOnSuccess)="onRuleChainIdCopied($event)"
            [cbContent]="entity?.id?.id"
            [fxShow]="!isEdit">
      <mat-icon svgIcon="mdi:clipboard-arrow-left"></mat-icon>
      <span translate>rulechain.copyId</span>
    </button>
  </div>
</div>
<div class="mat-padding" fxLayout="column">
  <form [formGroup]="entityForm">
    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
      <mat-form-field class="mat-block">
        <mat-label translate>rulechain.name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="entityForm.get('name').hasError('required')">
          {{ 'rulechain.name-required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-checkbox fxFlex formControlName="debugMode" style="padding-bottom: 16px;">
        {{ 'rulechain.debug-mode' | translate }}
      </mat-checkbox>
      <div formGroupName="additionalInfo">
        <mat-form-field class="mat-block">
          <mat-label translate>rulechain.description</mat-label>
          <textarea matInput formControlName="description" rows="2"></textarea>
        </mat-form-field>
      </div>
    </fieldset>
  </form>
</div>
