<!-- -->
<div class="tb-details-buttons" *ngIf="!isAdd && ruleNode.component.type === ruleNodeType.RULE_CHAIN">
  <button mat-raised-button color="primary"
          (click)="openRuleChain($event)">
    {{'rulechain.open-rulechain' | translate }}
  </button>
</div>
<form [formGroup]="ruleNodeFormGroup" class="mat-padding">
  <fieldset [disabled]="(isLoading$ | async) || !isEdit || isReadOnly">
    <section *ngIf="ruleNode.component.type !== ruleNodeType.RULE_CHAIN">
      <section fxLayout="column" fxLayout.gt-sm="row">
        <mat-form-field fxFlex class="mat-block">
          <mat-label translate>rulenode.name</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="ruleNodeFormGroup.get('name').hasError('required')
                         || ruleNodeFormGroup.get('name').hasError('pattern')">
            {{ 'rulenode.name-required' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-checkbox formControlName="debugMode">
          {{ 'rulenode.debug-mode' | translate }}
        </mat-checkbox>
      </section>
      <tb-rule-node-config #ruleNodeConfigComponent
        formControlName="configuration"
        [ruleNodeId]="ruleNode.ruleNodeId?.id"
        [nodeDefinition]="ruleNode.component.configurationDescriptor.nodeDefinition">
      </tb-rule-node-config>
      <div formGroupName="additionalInfo" fxLayout="column">
        <mat-form-field class="mat-block">
          <mat-label translate>rulenode.description</mat-label>
          <textarea matInput formControlName="description" rows="2"></textarea>
        </mat-form-field>
      </div>
    </section>
    <section *ngIf="ruleNode.component.type === ruleNodeType.RULE_CHAIN">
      <tb-entity-autocomplete required
                              [excludeEntityIds]="[ruleChainId]"
                              [entityType]="entityType.RULE_CHAIN"
                              formControlName="targetRuleChainId">
      </tb-entity-autocomplete>
      <div formGroupName="additionalInfo" fxLayout="column">
        <mat-form-field class="mat-block">
          <mat-label translate>rulenode.description</mat-label>
          <textarea matInput formControlName="description" rows="2"></textarea>
        </mat-form-field>
      </div>
    </section>
  </fieldset>
</form>
