<!-- -->
<div
   (dblclick)="userNodeCallbacks.doubleClick($event, node)"
   (mousedown)="userNodeCallbacks.mouseDown($event, node)"
   (mouseenter)="userNodeCallbacks.mouseEnter($event, node)"
   (mouseleave)="userNodeCallbacks.mouseLeave($event, node)">
  <div class="fc-node-overlay"></div>
  <div class="tb-rule-node {{node.nodeClass}}"
       [ngClass]="{'tb-rule-node-highlighted' : node.highlighted,
                   'tb-rule-node-invalid': node.error }">
    <mat-icon *ngIf="!iconUrl" fxFlex="15">{{node.icon}}</mat-icon>
    <img *ngIf="iconUrl" fxFlex="15" [src]="iconUrl"/>
    <div fxLayout="column" fxFlex="85" fxLayoutAlign="center">
      <span class="tb-node-type">{{ node.component.name }}</span>
      <span class="tb-node-title" *ngIf="node.name">{{ node.name }}</span>
    </div>
    <div class="{{flowchartConstants.leftConnectorClass}}">
      <div fc-magnet [connector]="connector" [callbacks]="callbacks"
           *ngFor="let connector of modelservice.nodes.getConnectorsByType(node, flowchartConstants.leftConnectorType)">
        <div fc-connector [connector]="connector"
             [nodeRectInfo]="nodeRectInfo"
             [mouseOverConnector]="mouseOverConnector"
             [callbacks]="callbacks"
             [modelservice]="modelservice"></div>
      </div>
    </div>
    <div class="{{flowchartConstants.rightConnectorClass}}">
      <div fc-magnet [connector]="connector" [callbacks]="callbacks"
           *ngFor="let connector of modelservice.nodes.getConnectorsByType(node, flowchartConstants.rightConnectorType)">
        <div fc-connector [connector]="connector"
             [nodeRectInfo]="nodeRectInfo"
             [mouseOverConnector]="mouseOverConnector"
             [callbacks]="callbacks"
             [modelservice]="modelservice"></div>
      </div>
    </div>
  </div>
  <section *ngIf="modelservice.isEditable() && !node.readonly">
    <div class="fc-nodeedit" (click)="userNodeCallbacks.nodeEdit($event, node)">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </div>
    <div class="fc-nodedelete" (click)="modelservice.nodes.delete(node)">
      &times;
    </div>
  </section>
  <section *ngIf="node.component.type === RuleNodeType.RULE_CHAIN && modelservice.isEditable()">
    <div class="fc-nodeopen" (click)="openRuleChain($event, node)">
      <mat-icon class="material-icons" svgIcon="mdi:login"></mat-icon>
    </div>
  </section>
</div>
