<!-- -->
<div class="mat-padding" fxLayout="column">
  <form [formGroup]="ruleNodeLinkFormGroup">
    <tb-link-labels
      required
      formControlName="labels"
      [allowedLabels]="allowedLabels"
      [allowCustom]="allowCustom"
    ></tb-link-labels>
  </form>
</div>
