<!-- -->
<div class="trip-animation-widget">
    <div class="trip-animation-label-container" *ngIf="settings.showLabel">
        {{label}}
    </div>
    <div class="trip-animation-container" fxLayout="column">
        <div class="map" #map></div>
        <div class="trip-animation-info-panel" fxLayout="row">
            <button class="tooltip-button" mat-mini-fab color="primary" aria-label="tooltip"
                *ngIf="settings.showTooltip" (click)="visibleTooltip = !visibleTooltip">
                <mat-icon>info_outline</mat-icon>
            </button>
        </div>
        <div class="trip-animation-tooltip md-whiteframe-z4" fxLayout="column"
             [ngClass]="{'trip-animation-tooltip-hidden':!visibleTooltip}"
             [ngStyle]="{'background-color': settings.tooltipColor, 'opacity': settings.tooltipOpacity, 'color': settings.tooltipFontColor}">
          <div *ngFor="let mainTooltip of mainTooltips"
               [innerHTML]="mainTooltip"
               style="padding: 10px 0">
          </div>
        </div>
    </div>
  <tb-history-selector *ngIf="historicalData"
                       [settings]="settings"
                       [minTime]="minTime"
                       [maxTime]="maxTime"
                       [step]="normalizationStep"
                       [anchors]="anchors"
                       [useAnchors]="useAnchors"
                       (timeUpdated)="timeUpdated($event)"></tb-history-selector>
</div>
