<!-- -->
<mat-form-field [formGroup]="subTypeFormGroup" class="mat-block">
  <mat-label *ngIf="showLabel">{{ entitySubtypeTitle | translate }}</mat-label>
  <mat-select [fxShow]="subTypesLoaded" class="tb-entity-subtype-select" formControlName="subType">
    <mat-option *ngFor="let subType of subTypesOptions | async" [value]="subType">
      {{ displaySubTypeFn(subType) }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="subTypeFormGroup.get('subType').hasError('required')">
    {{ entitySubtypeRequiredText | translate }}
  </mat-error>
</mat-form-field>
