<!-- -->
<div [formGroup]="deviceDataFormGroup" style="padding-bottom: 16px;">
  <mat-accordion multi="true">
    <mat-expansion-panel *ngIf="displayDeviceConfiguration" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div translate>device.device-configuration</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <tb-device-configuration
        formControlName="configuration"
        required>
      </tb-device-configuration>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="displayTransportConfiguration" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div translate>device.transport-configuration</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <tb-device-transport-configuration
        formControlName="transportConfiguration"
        required>
      </tb-device-transport-configuration>
    </mat-expansion-panel>
  </mat-accordion>
</div>
