<!-- -->
<div fxLayout="column" class="tb-progress-cover" fxLayoutAlign="center center"
  *ngIf="layoutCtx.widgets.isLoading()">
  <mat-spinner color="warn" mode="indeterminate" diameter="100">
  </mat-spinner>
</div>
<div class="mat-content"
          style="position: relative; width: 100%; height: 100%;" tb-hotkeys [hotkeys]="hotKeys"
          [cheatSheet]="dashboardCheatSheet"
          [style.backgroundImage]="backgroundImage"
          [ngStyle]="dashboardStyle">
  <section *ngIf="layoutCtx.widgets.isEmpty()" fxLayoutAlign="center center"
           [ngStyle]="{'color': layoutCtx.gridSettings.color}"
           style="display: flex; z-index: 1; pointer-events: none;"
           class="mat-headline tb-absolute-fill">
    <span *ngIf="!isEdit">
      {{'dashboard.no-widgets' | translate}}
    </span>
    <button mat-button *ngIf="isEdit && !widgetEditMode" class="tb-add-new-widget"
            (click)="addWidget($event)">
      <mat-icon class="tb-mat-96">add</mat-icon>
      {{ 'dashboard.add-widget' | translate }}
    </button>
  </section>
  <tb-dashboard #dashboard [dashboardStyle]="dashboardStyle"
                [backgroundImage]="backgroundImage"
                [widgets]="layoutCtx.widgets"
                [widgetLayouts]="layoutCtx.widgetLayouts"
                [columns]="layoutCtx.gridSettings.columns"
                [margin]="layoutCtx.gridSettings.margin"
                [aliasController]="dashboardCtx.aliasController"
                [stateController]="dashboardCtx.stateController"
                [dashboardTimewindow]="dashboardCtx.dashboardTimewindow"
                [isEdit]="isEdit"
                [autofillHeight]="layoutCtx.gridSettings.autoFillHeight && !isEdit"
                [mobileAutofillHeight]="layoutCtx.gridSettings.mobileAutoFillHeight && !isEdit"
                [mobileRowHeight]="layoutCtx.gridSettings.mobileRowHeight"
                [isMobile]="isMobile"
                [isMobileDisabled]="widgetEditMode"
                [disableWidgetInteraction]="isEdit"
                [isEditActionEnabled]="isEdit"
                [isExportActionEnabled]="isEdit && !widgetEditMode"
                [isRemoveActionEnabled]="isEdit && !widgetEditMode"
                [callbacks]="this"
                [ignoreLoading]="layoutCtx.ignoreLoading">
  </tb-dashboard>
</div>
