<!-- -->
<h2 mat-dialog-title>Coming soon!</h2>
<div mat-dialog-content>
  <h1>COMING SOON!</h1>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>
