<!-- -->
<div>
  <mat-toolbar color="primary">
    <h2 translate>device-profile.add</h2>
    <span fxFlex></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content>
    <mat-horizontal-stepper [linear]="true" #addDeviceProfileStepper (selectionChange)="changeStep($event)">
      <mat-step [stepControl]="deviceProfileDetailsFormGroup">
        <form [formGroup]="deviceProfileDetailsFormGroup" style="padding-bottom: 16px;">
          <ng-template matStepLabel>{{ 'device-profile.device-profile-details' | translate }}</ng-template>
          <fieldset [disabled]="isLoading$ | async">
            <mat-form-field class="mat-block">
              <mat-label translate>device-profile.name</mat-label>
              <input matInput formControlName="name" required/>
              <mat-error *ngIf="deviceProfileDetailsFormGroup.get('name').hasError('required')">
                {{ 'device-profile.name-required' | translate }}
              </mat-error>
            </mat-form-field>
            <tb-rule-chain-autocomplete
              labelText="device-profile.default-rule-chain"
              formControlName="defaultRuleChainId">
            </tb-rule-chain-autocomplete>
            <tb-queue-type-list
              [queueType]="serviceType"
              formControlName="defaultQueueName">
            </tb-queue-type-list>
            <mat-form-field fxHide class="mat-block">
              <mat-label translate>device-profile.type</mat-label>
              <mat-select formControlName="type" required>
                <mat-option *ngFor="let type of deviceProfileTypes" [value]="type">
                  {{deviceProfileTypeTranslations.get(type) | translate}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="deviceProfileDetailsFormGroup.get('type').hasError('required')">
                {{ 'device-profile.type-required' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="mat-block">
              <mat-label translate>device-profile.description</mat-label>
              <textarea matInput formControlName="description" rows="2"></textarea>
            </mat-form-field>
          </fieldset>
        </form>
      </mat-step>
      <mat-step [stepControl]="transportConfigFormGroup" [optional]="true">
        <form [formGroup]="transportConfigFormGroup" style="padding-bottom: 16px;">
          <ng-template matStepLabel>{{ 'device-profile.transport-configuration' | translate }}</ng-template>
          <mat-form-field class="mat-block">
            <mat-label translate>device-profile.transport-type</mat-label>
            <mat-select formControlName="transportType" required>
              <mat-option *ngFor="let type of deviceTransportTypes" [value]="type">
                {{deviceTransportTypeTranslations.get(type) | translate}}
              </mat-option>
            </mat-select>
            <mat-hint *ngIf="transportConfigFormGroup.get('transportType').value">
              {{deviceTransportTypeHints.get(transportConfigFormGroup.get('transportType').value) | translate}}
            </mat-hint>
            <mat-error *ngIf="transportConfigFormGroup.get('transportType').hasError('required')">
              {{ 'device-profile.transport-type-required' | translate }}
            </mat-error>
          </mat-form-field>
          <tb-device-profile-transport-configuration
            formControlName="transportConfiguration"
            required>
          </tb-device-profile-transport-configuration>
        </form>
      </mat-step>
      <mat-step [stepControl]="alarmRulesFormGroup" [optional]="true">
        <form [formGroup]="alarmRulesFormGroup" style="padding-bottom: 16px;">
          <ng-template matStepLabel>{{'device-profile.alarm-rules-with-count' | translate:
            {count: alarmRulesFormGroup.get('alarms').value ?
                alarmRulesFormGroup.get('alarms').value.length : 0} }}</ng-template>
          <tb-device-profile-alarms
            formControlName="alarms"
            [deviceProfileId]="null">
          </tb-device-profile-alarms>
        </form>
      </mat-step>
      <mat-step [stepControl]="provisionConfigFormGroup" [optional]="true">
        <form [formGroup]="provisionConfigFormGroup" style="padding-bottom: 16px;">
          <ng-template matStepLabel>{{ 'device-profile.device-provisioning' | translate }}</ng-template>
          <tb-device-profile-provision-configuration
            formControlName="provisionConfiguration">
          </tb-device-profile-provision-configuration>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div mat-dialog-actions fxLayout="row">
    <button mat-stroked-button *ngIf="selectedIndex > 0"
            [disabled]="(isLoading$ | async)"
            (click)="previousStep()">{{ 'action.back' | translate }}</button>
    <span fxFlex></span>
    <button mat-stroked-button
            color="primary"
            *ngIf="showNext"
            [disabled]="(isLoading$ | async)"
            (click)="nextStep()">{{ 'action.next-with-label' | translate:{label: (getFormLabel(this.selectedIndex+1) | translate)} }}</button>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end">
    <button mat-button
            [disabled]="(isLoading$ | async)"
            (click)="cancel()">{{ 'action.cancel' | translate }}</button>
    <button mat-raised-button
            [disabled]="(isLoading$ | async)"
            color="primary"
            (click)="add()">{{ 'action.add' | translate }}</button>
  </div>
</div>
