<!-- -->
<div [formGroup]="provisionConfigurationFormGroup">
  <mat-form-field class="mat-block">
    <mat-label translate>device-profile.provision-strategy</mat-label>
    <mat-select formControlName="type" required>
      <mat-option *ngFor="let type of deviceProvisionTypes" [value]="type">
        {{deviceProvisionTypeTranslateMap.get(type) | translate}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="provisionConfigurationFormGroup.get('type').hasError('required')">
      {{ 'device-profile.provision-strategy-required' | translate }}
    </mat-error>
  </mat-form-field>
  <section *ngIf="provisionConfigurationFormGroup.get('type').value !== deviceProvisionType.DISABLED" fxLayoutGap.gt-xs="8px" fxLayout="row" fxLayout.xs="column">
    <mat-form-field fxFlex class="mat-block">
      <mat-label translate>device-profile.provision-device-key</mat-label>
      <input matInput formControlName="provisionDeviceKey" required/>
      <button mat-button matSuffix mat-icon-button
              ngxClipboard
              [cbContent]="provisionConfigurationFormGroup.get('provisionDeviceKey').value"
              (cbOnSuccess)="onProvisionCopied(true)"
              matTooltip="{{ 'device-profile.copy-provision-key' | translate }}"
              matTooltipPosition="above">
        <mat-icon svgIcon="mdi:clipboard-arrow-left" style="font-size: 20px;"></mat-icon>
      </button>
      <mat-error *ngIf="provisionConfigurationFormGroup.get('provisionDeviceKey').hasError('required')">
        {{ 'device-profile.provision-device-key-required' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex class="mat-block">
      <mat-label translate>device-profile.provision-device-secret</mat-label>
      <input matInput formControlName="provisionDeviceSecret" required/>
      <button mat-button matSuffix mat-icon-button
              ngxClipboard
              [cbContent]="provisionConfigurationFormGroup.get('provisionDeviceSecret').value"
              (cbOnSuccess)="onProvisionCopied(false)"
              matTooltip="{{ 'device-profile.copy-provision-secret' | translate }}"
              matTooltipPosition="above">
        <mat-icon svgIcon="mdi:clipboard-arrow-left" style="font-size: 20px;"></mat-icon>
      </button>
      <mat-error *ngIf="provisionConfigurationFormGroup.get('provisionDeviceSecret').hasError('required')">
        {{ 'device-profile.provision-device-secret-required' | translate }}
      </mat-error>
    </mat-form-field>
  </section>
</div>
