<!-- -->
<mat-form-field [formGroup]="selectDeviceProfileFormGroup" class="mat-block">
  <input matInput type="text" placeholder="{{ 'device-profile.device-profile' | translate }}"
         #deviceProfileInput
         formControlName="deviceProfile"
         (focusin)="onFocus()"
         [required]="required"
         (keydown)="deviceProfileEnter($event)"
         (keypress)="deviceProfileEnter($event)"
         [matAutocomplete]="deviceProfileAutocomplete">
  <button *ngIf="selectDeviceProfileFormGroup.get('deviceProfile').value && !disabled"
          type="button"
          matSuffix mat-button mat-icon-button aria-label="Clear"
          (click)="clear()">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
  <button *ngIf="selectDeviceProfileFormGroup.get('deviceProfile').value && !disabled && editProfileEnabled"
          type="button"
          matSuffix mat-button mat-icon-button aria-label="Edit"
          matTooltip="{{ 'device-profile.edit' | translate }}"
          matTooltipPosition="above"
          (click)="editDeviceProfile($event)">
    <mat-icon class="material-icons">edit</mat-icon>
  </button>
  <mat-autocomplete
    class="tb-autocomplete"
    (closed)="onPanelClosed()"
    #deviceProfileAutocomplete="matAutocomplete"
    [displayWith]="displayDeviceProfileFn">
    <mat-option *ngFor="let deviceProfile of filteredDeviceProfiles | async" [value]="deviceProfile">
      <span [innerHTML]="deviceProfile.name | highlight:searchText"></span>
    </mat-option>
    <mat-option *ngIf="!(filteredDeviceProfiles | async)?.length" [value]="null" class="tb-not-found">
      <div class="tb-not-found-content" (click)="$event.stopPropagation()">
        <div *ngIf="!textIsNotEmpty(searchText) || !addNewProfile; else searchNotEmpty">
          <span translate>device-profile.no-device-profiles-found</span>
        </div>
        <ng-template #searchNotEmpty>
          <span>
              {{ translate.get('device-profile.no-device-profiles-matching',
            {entity: truncate.transform(searchText, true, 6, &apos;...&apos;)}) | async }}
          </span>
          <span>
            <a translate (click)="createDeviceProfile($event, searchText)">device-profile.create-new-device-profile</a>
          </span>
        </ng-template>
      </div>
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="selectDeviceProfileFormGroup.get('deviceProfile').hasError('required')">
    {{ 'device-profile.device-profile-required' | translate }}
  </mat-error>
</mat-form-field>
