<!-- -->
<div class="tb-details-buttons" fxLayout.xs="column" *ngIf="!standalone">
  <button mat-raised-button color="primary"
          [disabled]="(isLoading$ | async)"
          (click)="onEntityAction($event, 'setDefault')"
          [fxShow]="!isEdit && !entity?.default">
    {{'tenant-profile.set-default' | translate }}
  </button>
  <button mat-raised-button color="primary"
          [disabled]="(isLoading$ | async)"
          (click)="onEntityAction($event, 'delete')"
          [fxShow]="!hideDelete() && !isEdit">
    {{'tenant-profile.delete' | translate }}
  </button>
  <div fxLayout="row" fxLayout.xs="column">
    <button mat-raised-button
            ngxClipboard
            (cbOnSuccess)="onTenantProfileIdCopied($event)"
            [cbContent]="entity?.id?.id"
            [fxShow]="!isEdit">
      <mat-icon svgIcon="mdi:clipboard-arrow-left"></mat-icon>
      <span translate>tenant-profile.copyId</span>
    </button>
  </div>
</div>
<div class="mat-padding" fxLayout="column">
  <form [formGroup]="entityForm">
    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
      <mat-form-field class="mat-block">
        <mat-label translate>tenant-profile.name</mat-label>
        <input matInput formControlName="name" required/>
        <mat-error *ngIf="entityForm.get('name').hasError('required')">
          {{ 'tenant-profile.name-required' | translate }}
        </mat-error>
      </mat-form-field>
      <div fxLayout="column">
        <mat-checkbox class="hinted-checkbox" formControlName="isolatedTbCore">
          <div>{{ 'tenant.isolated-tb-core' | translate }}</div>
          <div class="tb-hint">{{'tenant.isolated-tb-core-details' | translate}}</div>
        </mat-checkbox>
        <mat-checkbox class="hinted-checkbox" formControlName="isolatedTbRuleEngine">
          <div>{{ 'tenant.isolated-tb-rule-engine' | translate }}</div>
          <div class="tb-hint">{{'tenant.isolated-tb-rule-engine-details' | translate}}</div>
        </mat-checkbox>
      </div>
      <tb-tenant-profile-data
        formControlName="profileData"
        required>
      </tb-tenant-profile-data>
      <mat-form-field class="mat-block">
        <mat-label translate>tenant-profile.description</mat-label>
        <textarea matInput formControlName="description" rows="2"></textarea>
      </mat-form-field>
    </fieldset>
  </form>
</div>
