<!-- -->
<form [formGroup]="tenantProfileDataFormGroup" style="padding-bottom: 16px;">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div translate>tenant-profile.profile-configuration</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <tb-tenant-profile-configuration
        formControlName="configuration"
        required>
      </tb-tenant-profile-configuration>
    </ng-template>
  </mat-expansion-panel>
</form>
