<!-- -->
<form [formGroup]="deviceCredentialsFormGroup" (ngSubmit)="save()" style="min-width: 350px;">
  <mat-toolbar color="primary">
    <h2 translate>device.device-credentials</h2>
    <span fxFlex></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content>
    <fieldset [disabled]="(isLoading$ | async) || isReadOnly">
      <tb-device-credentials
        formControlName="credential">
      </tb-device-credentials>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      {{ (isReadOnly ? 'action.close' : 'action.cancel') | translate }}
    </button>
    <button *ngIf="!isReadOnly" mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || deviceCredentialsFormGroup.invalid
            || !deviceCredentialsFormGroup.dirty">
      {{ 'action.save' | translate }}
    </button>
  </div>
</form>
