<!-- -->
<form (ngSubmit)="add()" style="min-width: 450px;">
  <mat-toolbar color="primary">
    <h2 translate>user.add</h2>
    <span fxFlex></span>
    <div [tb-help]="'user'"></div>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content>
    <tb-user></tb-user>
    <mat-form-field class="mat-block">
      <mat-label translate>user.activation-method</mat-label>
      <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="activationMethod">
        <mat-option *ngFor="let activationMethod of activationMethods" [value]="activationMethod">
          {{ activationMethodTranslations.get(activationMethodEnum[activationMethod]) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary"
            type="button"
            cdkFocusInitial
            [disabled]="(isLoading$ | async)"
            (click)="cancel()">
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || detailsForm.invalid || !detailsForm.dirty">
      {{ 'action.add' | translate }}
    </button>
  </div>
</form>
