<!-- -->
<mat-form-field [formGroup]="selectRuleChainFormGroup" class="mat-block">
  <input matInput type="text" placeholder="{{ ruleChainLabel | translate }}"
         #ruleChainInput
         formControlName="ruleChainId"
         (focusin)="onFocus()"
         [required]="required"
         [matAutocomplete]="ruleChainAutocomplete">
  <button *ngIf="selectRuleChainFormGroup.get('ruleChainId').value && !disabled"
          type="button"
          matSuffix mat-button mat-icon-button aria-label="Clear"
          (click)="clear()">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
  <mat-autocomplete class="tb-autocomplete"
                    #ruleChainAutocomplete="matAutocomplete"
                    [displayWith]="displayRuleChainFn">
    <mat-option *ngFor="let ruleChain of filteredRuleChains | async" [value]="ruleChain">
      <span [innerHTML]="ruleChain.name | highlight:searchText"></span>
    </mat-option>
    <mat-option *ngIf="!(filteredRuleChains | async)?.length" [value]="null" class="tb-not-found">
      <div class="tb-not-found-content" (click)="$event.stopPropagation()">
        <div *ngIf="!textIsNotEmpty(searchText); else searchNotEmpty">
          <span translate>device-profile.no-device-profiles-found</span>
        </div>
        <ng-template #searchNotEmpty>
          <span>
              {{ translate.get('rulechain.no-rulechains-matching',
            {entity: truncate.transform(searchText, true, 6, &apos;...&apos;)}) | async }}
          </span>
        </ng-template>
        <span>
          <a translate (click)="createDefaultRuleChain($event, searchText)">rulechain.create-new-rulechain</a>
        </span>
      </div>
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="selectRuleChainFormGroup.get('ruleChainId').hasError('required')">
    {{ 'rulechain.rulechain-required' | translate }}
  </mat-error>
</mat-form-field>
