<!-- -->
<mat-toolbar fxLayout="row" color="primary">
  <h2 translate>{{ title }}</h2>
  <span fxFlex></span>
  <button mat-button mat-icon-button
          [mat-dialog-close]="false"
          type="button">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content fxLayout="column">
  <div #eventContentEditor class="tb-event-content">
  </div>
</div>
<div mat-dialog-actions fxLayout="row">
  <span fxFlex></span>
  <button mat-button color="primary"
          type="button"
          [disabled]="(isLoading$ | async)"
          [mat-dialog-close]="false" cdkFocusInitial>
    {{ 'action.close' | translate }}
  </button>
</div>
