<!-- -->
<form [formGroup]="stateFormGroup" (ngSubmit)="save()" style="min-width: 480px;">
  <mat-toolbar color="primary">
    <h2 translate>{{ isAdd ? 'dashboard.add-state' : 'dashboard.edit-state' }}</h2>
    <span fxFlex></span>
    <button mat-button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async" fxLayout="column">
      <mat-form-field class="mat-block">
        <mat-label translate>dashboard.state-name</mat-label>
        <input required matInput formControlName="name">
        <mat-error *ngIf="stateFormGroup.get('name').hasError('required')">
          {{ 'dashboard.state-name-required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-block">
        <mat-label translate>dashboard.state-id</mat-label>
        <input required matInput formControlName="id">
        <mat-error *ngIf="stateFormGroup.get('id').hasError('required')">
          {{ 'dashboard.state-id-required' | translate }}
        </mat-error>
        <mat-error *ngIf="stateFormGroup.get('id').hasError('stateExists')">
          {{ 'dashboard.state-id-exists' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-checkbox formControlName="root">
        {{ 'dashboard.is-root-state' | translate }}
      </mat-checkbox>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || stateFormGroup.invalid || !stateFormGroup.dirty">
      {{ (isAdd ? 'action.add' : 'action.save') | translate }}
    </button>
  </div>
</form>
