<!-- -->
<mat-select class="default-state-controller" [fxShow]="displayStateSelection()"
    [(ngModel)]="stateObject[0].id" (ngModelChange)="selectedStateIdChanged()">
  <mat-option *ngFor="let stateKv of states | keyvalue" [value]="stateKv.key">
    {{getStateName(stateKv.key, stateKv.value)}}
  </mat-option>
</mat-select>
