<!-- -->
<div class="entity-state-controller">
  <div *ngIf="!isMobile || stateObject.length === 1" fxLayout="row" fxLayoutAlign="start center">
        <span *ngFor="let state of stateObject; index as i; last as isLast" class="state-entry" [ngStyle]="{fontWeight: isLast ? 'bold' : 'normal',
                         cursor: isLast ? 'default' : 'pointer'}" (click)="navigatePrevState(i)">
            {{getStateName(i)}}
          <span class='state-divider' [fxHide]="isLast"> > </span>
        </span>
  </div>
  <mat-select *ngIf="isMobile && stateObject.length > 1"
              [(ngModel)]="selectedStateIndex" (ngModelChange)="selectedStateIndexChanged()">
    <mat-option *ngFor="let state of stateObject; index as i" [value]="i">
      {{getStateName(i)}}
    </mat-option>
  </mat-select>
</div>



