<!-- -->
<div fxFlex fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px" [formGroup]="booleanFilterPredicateFormGroup">
  <mat-form-field floatLabel="always" hideRequiredMarker fxFlex="30" class="mat-block">
    <mat-label></mat-label>
    <mat-select required formControlName="operation" placeholder="{{'filter.operation.operation' | translate}}">
      <mat-option *ngFor="let operation of booleanOperations" [value]="operation">
        {{booleanOperationTranslations.get(booleanOperationEnum[operation]) | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <tb-filter-predicate-value [allowUserDynamicSource]="allowUserDynamicSource"
                             [onlyUserDynamicSource]="onlyUserDynamicSource"
                             fxFlex="70"
                             [valueType]="valueTypeEnum.BOOLEAN"
                             formControlName="value">
  </tb-filter-predicate-value>
</div>
