<!-- -->
<form [formGroup]="complexFilterFormGroup" (ngSubmit)="save()" style="width: 900px;">
  <mat-toolbar color="primary">
    <h2 translate>filter.complex-filter</h2>
    <span fxFlex></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async" fxLayout="column">
      <mat-form-field class="mat-block">
        <mat-label translate>filter.operation.operation</mat-label>
        <mat-select required formControlName="operation">
          <mat-option *ngFor="let operation of complexOperations" [value]="operation">
            {{complexOperationTranslations.get(complexOperationEnum[operation]) | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <tb-filter-predicate-list
        [valueType]="data.valueType"
        [displayUserParameters]="data.displayUserParameters"
        [allowUserDynamicSource]="data.allowUserDynamicSource"
        [onlyUserDynamicSource]="data.onlyUserDynamicSource"
        [operation]="complexFilterFormGroup.get('operation').value"
        [key]="data.key"
        formControlName="predicates">
      </tb-filter-predicate-list>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()"
            cdkFocusInitial>
      {{ (data.readonly ? 'action.close' : 'action.cancel') | translate }}
    </button>
    <button mat-raised-button color="primary"
            *ngIf="!data.readonly"
            type="submit"
            [disabled]="(isLoading$ | async) || complexFilterFormGroup.invalid || !complexFilterFormGroup.dirty">
      {{ (isAdd ? 'action.add' : 'action.update') | translate }}
    </button>
  </div>
</form>
