<!-- -->
<div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
  <mat-label translate>filter.complex-filter</mat-label>
  <button mat-icon-button color="primary"
          class="tb-mat-32"
          type="button"
          (click)="openComplexFilterDialog()"
          matTooltip="{{ (disabled ? 'filter.complex-filter' : 'filter.edit-complex-filter') | translate }}"
          matTooltipPosition="above">
    <mat-icon>{{ disabled ? 'more_vert' : 'edit' }}</mat-icon>
  </button>
</div>
