<!-- -->
<button mat-icon-button color="primary"
        class="tb-mat-32"
        type="button"
        (click)="openFilterUserInfoDialog()"
        matTooltip="{{ (disabled ? 'filter.filter-user-params' : 'filter.edit-filter-user-params') | translate }}"
        matTooltipPosition="above">
  <mat-icon>settings</mat-icon>
</button>
