<!-- -->
<div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" [formGroup]="filterPredicateFormGroup">
  <div fxFlex fxLayout="column" [ngSwitch]="type">
    <ng-template [ngSwitchCase]="filterPredicateType.STRING">
      <tb-string-filter-predicate
        [allowUserDynamicSource]="allowUserDynamicSource"
        [onlyUserDynamicSource]="onlyUserDynamicSource"
        formControlName="predicate">
      </tb-string-filter-predicate>
    </ng-template>
    <ng-template [ngSwitchCase]="filterPredicateType.NUMERIC">
      <tb-numeric-filter-predicate
        [allowUserDynamicSource]="allowUserDynamicSource"
        [onlyUserDynamicSource]="onlyUserDynamicSource"
        [valueType]="valueType"
        formControlName="predicate">
      </tb-numeric-filter-predicate>
    </ng-template>
    <ng-template [ngSwitchCase]="filterPredicateType.BOOLEAN">
      <tb-boolean-filter-predicate
        [allowUserDynamicSource]="allowUserDynamicSource"
        [onlyUserDynamicSource]="onlyUserDynamicSource"
        formControlName="predicate">
      </tb-boolean-filter-predicate>
    </ng-template>
    <ng-template [ngSwitchCase]="filterPredicateType.COMPLEX">
      <tb-complex-filter-predicate
        [allowUserDynamicSource]="allowUserDynamicSource"
        [onlyUserDynamicSource]="onlyUserDynamicSource"
        [key]="key"
        [valueType]="valueType"
        [displayUserParameters]="displayUserParameters"
        formControlName="predicate">
      </tb-complex-filter-predicate>
    </ng-template>
  </div>
  <tb-filter-user-info *ngIf="type !== filterPredicateType.COMPLEX && displayUserParameters"
                       style="width: 60px;"
                       fxLayout="row" fxLayoutAlign="center"
                       [valueType]="valueType"
                       [operation]="filterPredicateFormGroup.get('predicate').value?.operation"
                       [key]="key"
                       formControlName="userInfo">
  </tb-filter-user-info>
</div>
