<!-- -->
<mat-form-field [floatLabel]="showLabel ? 'auto' : 'always'"
                [hideRequiredMarker]="!showLabel" [formGroup]="selectFilterFormGroup" class="mat-block">
  <mat-label *ngIf="!showLabel"></mat-label>
  <input matInput type="text" placeholder="{{ 'filter.filter' | translate }}"
         #filterInput
         formControlName="filter"
         (focusin)="onFocus()"
         [required]="tbRequired"
         (keydown)="filterEnter($event)"
         (keypress)="filterEnter($event)"
         [matAutocomplete]="filterAutocomplete">
  <button *ngIf="selectFilterFormGroup.get('filter').value && !disabled"
          type="button"
          matSuffix mat-icon-button aria-label="Clear"
          (click)="clear()">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
  <mat-autocomplete class="tb-autocomplete"
                    #filterAutocomplete="matAutocomplete"
                    [displayWith]="displayFilterFn">
    <mat-option *ngFor="let filter of filteredFilters | async" [value]="filter">
      <span [innerHTML]="filter.filter | highlight:searchText"></span>
    </mat-option>
    <mat-option *ngIf="!(filteredFilters | async)?.length" [value]="null" class="tb-not-found">
      <div class="tb-not-found-content" (click)="$event.stopPropagation()">
        <div *ngIf="!textIsNotEmpty(searchText); else searchNotEmpty">
          <span translate>filter.no-filters-found</span>
        </div>
        <ng-template #searchNotEmpty>
          <span>
            {{ translate.get('filter.no-filter-matching',
            {filter: truncate.transform(searchText, true, 6, &apos;...&apos;)}) | async }}
          </span>
        </ng-template>
        <span>
          <a translate (click)="createFilter($event, searchText)">filter.create-new-filter</a>
        </span>
      </div>
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="!modelValue && tbRequired">
    {{ 'filter.filter-required' | translate }}
  </mat-error>
</mat-form-field>
