<!-- -->
<div fxLayout="column" class="mat-content mat-padding">
  <div *ngFor="let filter of filtersInfo | keyvalue; let last = last">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-label fxFlex>{{filter.value.filter}}</mat-label>
      <button mat-icon-button color="primary"
              style="min-width: 40px;"
              type="button"
              (click)="editFilter(filter.key, filter.value)"
              matTooltip="{{ 'filter.edit' | translate }}"
              matTooltipPosition="above">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <mat-divider *ngIf="!last"></mat-divider>
  </div>
</div>
