<!-- -->
<form [formGroup]="filtersFormGroup" (ngSubmit)="save()" style="width: 700px;">
  <mat-toolbar color="primary">
    <h2>{{ title | translate }}</h2>
    <span fxFlex></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content>
    <div class="tb-filters-header" fxLayout="row" fxLayoutAlign="start center">
      <span fxFlex="5"></span>
      <div fxFlex="95" fxLayout="row" fxLayoutAlign="start center">
        <div class="tb-header-label" translate fxFlex>filter.filter</div>
        <div class="tb-header-label" translate fxFlex="120px"
             fxLayout="column" fxLayoutAlign="center center"
             style="padding-left: 30px;">filter.editable</div>
        <div style="min-width: 80px;"></div>
      </div>
    </div>
    <fieldset [disabled]="isLoading$ | async">
      <mat-divider></mat-divider>
      <div fxFlex fxLayout="row" fxLayoutAlign="start center"
           formArrayName="filters"
           *ngFor="let filterControl of filtersFormArray().controls; let $index = index">
        <span fxFlex="5">{{$index + 1}}.</span>
        <div class="mat-elevation-z4 tb-filter" fxFlex="95" fxLayout="row" fxLayoutAlign="start center">
          <mat-label fxFlex>{{filterControl.get('filter').value}}</mat-label>
          <section fxFlex="120px" style="padding-left: 10px;"
                   class="tb-editable-switch"
                   fxLayout="column"
                   fxLayoutAlign="center center">
            <mat-slide-toggle class="editable-switch"
                              [formControl]="filterControl.get('editable')">
            </mat-slide-toggle>
          </section>
          <button [disabled]="isLoading$ | async"
                  mat-icon-button color="primary"
                  style="min-width: 40px;"
                  type="button"
                  (click)="editFilter($index)"
                  matTooltip="{{ 'filter.edit' | translate }}"
                  matTooltipPosition="above">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="isLoading$ | async"
                  mat-icon-button color="primary"
                  style="min-width: 40px;"
                  type="button"
                  (click)="removeFilter($index)"
                  matTooltip="{{ 'filter.remove-filter' | translate }}"
                  matTooltipPosition="above">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </fieldset>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary"
            type="button"
            (click)="addFilter()"
            [fxShow]="!disableAdd"
            [disabled]="isLoading$ | async"
            matTooltip="{{ 'filter.add' | translate }}"
            matTooltipPosition="above">
      {{ 'filter.add' | translate }}
    </button>
    <span fxFlex></span>
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()"
            cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || filtersFormGroup.invalid || !filtersFormGroup.dirty">
      {{ 'action.save' | translate }}
    </button>
  </div>
</form>
