<!-- -->
<div fxFlex fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px" [formGroup]="stringFilterPredicateFormGroup">
  <div fxFlex="30" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
    <mat-form-field floatLabel="always" hideRequiredMarker fxFlex class="mat-block">
      <mat-label></mat-label>
      <mat-select required formControlName="operation" placeholder="{{'filter.operation.operation' | translate}}">
        <mat-option *ngFor="let operation of stringOperations" [value]="operation">
          {{stringOperationTranslations.get(stringOperationEnum[operation]) | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox fxLayout="row" fxLayoutAlign="center" formControlName="ignoreCase" style="min-width: 70px;">
    </mat-checkbox>
  </div>
  <tb-filter-predicate-value [allowUserDynamicSource]="allowUserDynamicSource"
                             [onlyUserDynamicSource]="onlyUserDynamicSource"
                             fxFlex="70"
                             [valueType]="valueTypeEnum.STRING"
                             formControlName="value">
  </tb-filter-predicate-value>
</div>
