<!-- -->
<div>
  <mat-card class="settings-card">
    <mat-card-title>
      <div fxLayout="row">
        <span class="mat-headline" translate>admin.general-settings</span>
      </div>
    </mat-card-title>
    <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
    </mat-progress-bar>
    <div style="height: 4px;" *ngIf="!(isLoading$ | async)"></div>
    <mat-card-content style="padding-top: 16px;">
      <form [formGroup]="generalSettings" (ngSubmit)="save()">
        <fieldset [disabled]="isLoading$ | async">
          <mat-form-field class="mat-block">
            <mat-label translate>admin.base-url</mat-label>
            <input matInput formControlName="baseUrl" required/>
            <mat-error *ngIf="generalSettings.get('baseUrl').hasError('required')">
              {{ 'admin.base-url-required' | translate }}
            </mat-error>
          </mat-form-field>
          <tb-checkbox formControlName="prohibitDifferentUrl" style="display: block; padding-bottom: 16px;">
            {{ 'admin.prohibit-different-url' | translate }}
          </tb-checkbox>
          <div class="tb-hint" translate>admin.prohibit-different-url-hint</div>
          <div fxLayout="row" fxLayoutAlign="end center" style="width: 100%;" class="layout-wrap">
            <button mat-button mat-raised-button color="primary" [disabled]="(isLoading$ | async) || generalSettings.invalid || !generalSettings.dirty"
                    type="submit">{{'action.save' | translate}}
            </button>
          </div>
        </fieldset>
      </form>
    </mat-card-content>
  </mat-card>
</div>
