<!-- -->
<form [formGroup]="sendTestSmsFormGroup" style="min-width: 500px; position: relative;">
  <mat-toolbar color="primary">
    <h2 translate>admin.send-test-sms</h2>
    <span fxFlex></span>
    <button mat-icon-button
            (click)="close()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content tb-toast toastTarget="sendTestSmsDialogContent">
    <fieldset [disabled]="(isLoading$ | async)">
      <mat-form-field class="mat-block">
        <mat-label translate>admin.number-to</mat-label>
        <input type="tel" required [pattern]="phoneNumberPattern" matInput formControlName="numberTo">
        <mat-error *ngIf="sendTestSmsFormGroup.get('numberTo').hasError('required')">
          {{ 'admin.number-to-required' | translate }}
        </mat-error>
        <mat-error *ngIf="sendTestSmsFormGroup.get('numberTo').hasError('pattern')">
          {{ 'admin.phone-number-pattern' | translate }}
        </mat-error>
        <mat-hint innerHTML="{{ 'admin.phone-number-hint' | translate }}"></mat-hint>
      </mat-form-field>
      <mat-form-field class="mat-block">
        <mat-label translate>admin.sms-message</mat-label>
        <textarea required matInput rows="3" [maxLength]="1600" formControlName="message"></textarea>
        <mat-error *ngIf="sendTestSmsFormGroup.get('message').hasError('required')">
          {{ 'admin.sms-message-required' | translate }}
        </mat-error>
        <mat-error *ngIf="sendTestSmsFormGroup.get('message').hasError('maxLength')">
          {{ 'admin.sms-message-max-length' | translate }}
        </mat-error>
      </mat-form-field>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="close()" cdkFocusInitial>
      {{ 'action.close' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="button"
            (click)="sendTestSms()"
            [disabled]="(isLoading$ | async) || sendTestSmsFormGroup.invalid">
      {{ 'admin.send-test-sms' | translate }}
    </button>
  </div>
</form>
