<!-- -->
<div>
  <mat-card class="settings-card">
    <mat-card-title>
      <div fxLayout="row">
        <span class="mat-headline" translate>admin.sms-provider-settings</span>
        <span fxFlex></span>
        <div tb-help="smsProviderSettings"></div>
      </div>
    </mat-card-title>
    <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
    </mat-progress-bar>
    <div style="height: 4px;" *ngIf="!(isLoading$ | async)"></div>
    <mat-card-content style="padding-top: 16px;">
      <form [formGroup]="smsProvider" (ngSubmit)="save()">
        <fieldset [disabled]="isLoading$ | async">
          <tb-sms-provider-configuration
            required
            formControlName="configuration">
          </tb-sms-provider-configuration>
          <div fxLayout="row" fxLayoutAlign="end center" fxLayout.xs="column" fxLayoutAlign.xs="end" fxLayoutGap="16px">
            <button mat-raised-button type="button"
                    [disabled]="(isLoading$ | async) || smsProvider.invalid" (click)="sendTestSms()">
              {{'admin.send-test-sms' | translate}}
            </button>
            <button mat-raised-button color="primary" [disabled]="(isLoading$ | async) || smsProvider.invalid || !smsProvider.dirty"
                    type="submit">{{'action.save' | translate}}
            </button>
          </div>
        </fieldset>
      </form>
    </mat-card-content>
  </mat-card>
</div>
