<!-- -->
<form [formGroup]="importFormGroup" (ngSubmit)="importFromJson()">
  <mat-toolbar color="primary">
    <h2 translate>{{ importTitle }}</h2>
    <span fxFlex></span>
    <button mat-button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async">
      <div fxFlex fxLayout="column">
        <tb-file-input
          [contentConvertFunction]="loadDataFromJsonContent"
          formControlName="jsonContent"
          required
          label="{{importFileLabel | translate}}"
          dropLabel="{{ 'import.drop-file' | translate }}"
          accept=".json,application/json"
          allowedExtensions="json">
        </tb-file-input>
      </div>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || importFormGroup.invalid || !importFormGroup.dirty">
      {{ 'action.import' | translate }}
    </button>
  </div>
</form>
