<!-- -->
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="order">
    <mat-header-cell *matHeaderCellDef style="min-width: 40px; max-width: 40px; width: 40px"></mat-header-cell>
    <mat-cell *matCellDef="let column; let i = index">
      {{ (i+1) }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="sampleData">
    <mat-header-cell *matHeaderCellDef style="flex: 0 0 30%;" class="mat-column-sampleData"> {{ 'import.column-example' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let column">
      {{column.sampleData}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef style="flex: 0 0 40%" class="mat-column-type"> {{ 'import.column-type.column-type' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let column">
      <mat-select matInput [(ngModel)]="column.type" (ngModelChange)="columnsUpdated()">
        <mat-option *ngFor="let type of columnTypes" [value]="type.value" [disabled]="type.disabled">
          {{ columnTypesTranslations.get(type.value) | translate }}
        </mat-option>
      </mat-select>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="key">
    <mat-header-cell *matHeaderCellDef style="flex: 0 0 30%"> {{ 'import.column-key' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let column">
      <mat-form-field floatLabel="always" hideRequiredMarker
                      *ngIf="isColumnTypeDiffers(column.type)">
        <mat-label></mat-label>
        <input matInput required
               [(ngModel)]="column.key" (ngModelChange)="columnsUpdated()"
               placeholder="{{ 'import.column-value' | translate }}"/>
      </mat-form-field>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let column; columns: displayedColumns;"></mat-row>
</table>
<mat-divider></mat-divider>
