<!-- -->
<div [formGroup]="deviceProfileTransportConfigurationFormGroup">
  <div [ngSwitch]="transportType">
    <ng-template [ngSwitchCase]="deviceTransportType.DEFAULT">
      <tb-default-device-profile-transport-configuration
        [required]="required"
        formControlName="configuration">
      </tb-default-device-profile-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="deviceTransportType.MQTT">
      <tb-mqtt-device-profile-transport-configuration
        [required]="required"
        formControlName="configuration">
      </tb-mqtt-device-profile-transport-configuration>
    </ng-template>
    <!--ng-template [ngSwitchCase]="deviceTransportType.LWM2M">
      <tb-lwm2m-device-profile-transport-configuration
        [required]="required"
        formControlName="configuration">
      </tb-lwm2m-device-profile-transport-configuration>
    </ng-template-->
    <ng-template [ngSwitchCase]="deviceTransportType.COAP">
      <tb-coap-device-profile-transport-configuration
        [required]="required"
        formControlName="configuration">
      </tb-coap-device-profile-transport-configuration>
    </ng-template>
  </div>
</div>
