<!-- -->
<div class="tb-json-form" style="background: #fff;" tb-fullscreen [fullscreenElement]="targetFullscreenElement"
     [fullscreen]="isFullscreen"
     (fullscreenChanged)="onFullscreenChanged($event)">
  <div #reactRoot></div>
</div>
