<!-- -->
<div style="min-width: 400px; position: relative;">
  <mat-toolbar fxLayout="row" color="primary">
    <h2>{{ 'dashboard.public-dashboard-title' | translate }}</h2>
    <span fxFlex></span>
    <button mat-button mat-icon-button
            (click)="close()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content tb-toast toastTarget="makeDashboardPublicDialogContent">
    <span
       innerHTML="{{ translate.get('dashboard.public-dashboard-text', {dashboardTitle: dashboard.title, publicLink: publicLink}) | async }}">
    </span>
    <div fxLayout="row" fxLayoutAlign="start center">
      <pre class="tb-highlight" fxFlex><code>{{ publicLink }}</code></pre>
      <button mat-button mat-icon-button
              ngxClipboard
              (cbOnSuccess)="onPublicLinkCopied($event)"
              cbContent="{{publicLink}}"
              matTooltipPosition="above"
              matTooltip="{{ 'dashboard.copy-public-link' | translate }}">
        <mat-icon svgIcon="mdi:clipboard-arrow-left"></mat-icon>
      </button>
    </div>
    <div class="tb-notice" innerHTML="{{'dashboard.public-dashboard-notice' | translate}}"></div>
    <tb-social-share-panel style="padding-top: 15px;"
                           shareTitle="{{ 'dashboard.socialshare-title' | translate:{dashboardTitle: dashboard.title} }}"
                           shareText="{{ 'dashboard.socialshare-text' | translate:{dashboardTitle: dashboard.title} }}"
                           shareLink="{{ publicLink }}"
                           shareHashTags="thingsboard, iot">
    </tb-social-share-panel>
  </div>
  <div mat-dialog-actions fxLayout="row">
    <span fxFlex></span>
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="close()" cdkFocusInitial>
      {{ 'action.ok' | translate }}
    </button>
  </div>
</div>
