<!-- -->
<form style="width: 600px;"
      [formGroup]="dashboardCustomersFormGroup" (ngSubmit)="submit()">
  <mat-toolbar fxLayout="row" color="primary">
    <h2>{{ titleText | translate }}</h2>
    <span fxFlex></span>
    <button mat-button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async">
      <span>{{ labelText | translate }}</span>
      <tb-entity-list
        formControlName="assignedCustomerIds"
        [required]="data.actionType !== 'manage'"
        [entityType]="entityType.CUSTOMER">
      </tb-entity-list>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayout="row">
    <span fxFlex></span>
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || dashboardCustomersFormGroup.invalid
            || !dashboardCustomersFormGroup.dirty">
      {{ actionName | translate }}
    </button>
  </div>
</form>
