<!-- -->
<div class="tb-create-password-content mat-app-background tb-dark" fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">
  <mat-card fxFlex="initial" class="tb-create-password-card">
    <mat-card-title class="layout-padding">
      <span translate class="mat-headline">login.create-password</span>
    </mat-card-title>
    <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
    </mat-progress-bar>
    <span style="height: 4px;" *ngIf="!(isLoading$ | async)"></span>
    <mat-card-content>
      <form [formGroup]="createPassword" (ngSubmit)="onCreatePassword()">
        <fieldset [disabled]="isLoading$ | async">
          <div tb-toast fxLayout="column" class="layout-padding">
            <span style="height: 50px;"></span>
            <mat-form-field class="mat-block">
              <mat-label translate>common.password</mat-label>
              <input matInput type="password" autofocus formControlName="password"/>
              <mat-icon class="material-icons" matPrefix>lock</mat-icon>
            </mat-form-field>
            <mat-form-field class="mat-block">
              <mat-label translate>login.password-again</mat-label>
              <input matInput type="password" formControlName="password2"/>
              <mat-icon class="material-icons" matPrefix>lock</mat-icon>
            </mat-form-field>
            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="16px" fxLayoutAlign="start center"
                 fxLayoutAlign.gt-xs="center start">
              <button mat-raised-button color="accent" type="submit" [disabled]="(isLoading$ | async)">
                {{ 'login.create-password' | translate }}
              </button>
              <button mat-raised-button color="primary" type="button" [disabled]="(isLoading$ | async)"
                      routerLink="/login">
                {{ 'action.cancel' | translate }}
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </mat-card-content>
  </mat-card>
</div>
