<!-- -->
<form fxLayout="column" class="mat-content mat-padding" [formGroup]="alarmFilterFormGroup" (ngSubmit)="update()">
  <mat-form-field fxFlex class="mat-block" floatLabel="always">
    <mat-label translate>alarm.alarm-status-list</mat-label>
    <mat-select formControlName="alarmStatusList" multiple
                placeholder="{{ !alarmFilterFormGroup.get('alarmStatusList').value?.length ? ('alarm.any-status' | translate) : '' }}">
      <mat-option *ngFor="let searchStatus of alarmSearchStatuses" [value]="searchStatus">
        {{ alarmSearchStatusTranslationMap.get(searchStatus) | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex class="mat-block" floatLabel="always">
    <mat-label translate>alarm.alarm-severity-list</mat-label>
    <mat-select formControlName="alarmSeverityList" multiple
                placeholder="{{ !alarmFilterFormGroup.get('alarmSeverityList').value?.length ? ('alarm.any-severity' | translate) : '' }}">
      <mat-option *ngFor="let alarmSeverity of alarmSeverities" [value]="alarmSeverity">
        {{ alarmSeverityTranslationMap.get(alarmSeverityEnum[alarmSeverity]) | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex class="mat-block" floatLabel="always">
    <mat-label translate>alarm.alarm-type-list</mat-label>
    <mat-chip-list #alarmTypeChipList formControlName="alarmTypeList">
      <mat-chip *ngFor="let type of alarmTypeList()" [selectable]="true"
                [removable]="true" (removed)="removeAlarmType(type)">
        {{type}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="{{ !alarmFilterFormGroup.get('alarmTypeList').value?.length ? ('alarm.any-type' | translate) : '' }}"
             [matChipInputFor]="alarmTypeChipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="true"
             (matChipInputTokenEnd)="addAlarmType($event)">
    </mat-chip-list>
  </mat-form-field>
  <div fxLayout="row" class="tb-panel-actions" fxLayoutAlign="end center">
    <button type="button"
            mat-button
            (click)="cancel()">
      {{ 'action.cancel' | translate }}
    </button>
    <button type="submit"
            mat-raised-button
            color="primary"
            [disabled]="alarmFilterFormGroup.invalid || !alarmFilterFormGroup.dirty">
      {{ 'action.update' | translate }}
    </button>
  </div>
</form>
