<!-- -->
<div fxLayout="column" class="mat-content mat-padding">
  <label class="tb-title" translate>entity.columns-to-display</label>
  <mat-checkbox style="padding-bottom: 8px;" [(ngModel)]="column.display" *ngFor="let column of (columns | selectableColumns)"
                (ngModelChange)="update()">
    {{ column.title }}
  </mat-checkbox>
</div>
