<!-- -->
<mat-grid-list *ngIf="cols" class="tb-navigation-cards" [cols]="cols" rowHeight="280px">
  <mat-grid-tile [colspan]="sectionColspan(section)" *ngFor="let section of showHomeSections$| async">
    <mat-card style="width: 100%;">
      <mat-card-title>
        <span translate class="mat-headline">{{section.name}}</span>
      </mat-card-title>
      <mat-card-content>
        <mat-grid-list rowHeight="170px" [cols]="sectionPlaces(section).length">
          <mat-grid-tile *ngFor="let place of sectionPlaces(section)">
            <a mat-raised-button color="primary" class="tb-card-button" href="{{place.path}}" (click)="navigate($event, place.path)">
              <mat-icon *ngIf="!place.isMdiIcon" class="material-icons tb-mat-96">{{place.icon}}</mat-icon>
              <mat-icon *ngIf="place.isMdiIcon" class="tb-mat-96" [svgIcon]="place.icon"></mat-icon>
              <span translate>{{place.name}}</span>
            </a>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
