<!-- -->
<div fxLayout="column" fxLayoutAlign="center center" class="tb-web-camera" tb-fullscreen [fullscreen]="isShowCamera">
  <div *ngIf="isEntityDetected && dataKeyDetected && isCameraSupport && isProtocolHttps" class="image-container">
    <div [fxShow]="!isShowCamera" fxLayout="column" fxLayoutAlign="space-between center" fxFlexFill>
      <div class="tb-web-camera__last-photo" fxFlex>
        <span [fxShow]="!lastPhoto" class="tb-web-camera__last-photo_text" translate>widgets.input-widgets.no-image</span>
        <img [fxShow]="lastPhoto" class="tb-web-camera__last-photo_img" [src]="lastPhoto" alt="last photo"/>
      </div>
      <button mat-raised-button color="primary" (click)="takePhoto()" *ngIf="!textMessage">
        {{ "widgets.input-widgets.take-photo" | translate }}
      </button>
    </div>
    <div [fxShow]="isShowCamera" fxLayout="column" fxLayoutAlign="center center" class="camera-container">
      <div class="camera" [fxShow]="!isPreviewPhoto">
        <video autoplay muted playsinline class="camera-stream" #videoStream></video>
        <div class="camera-controls" fxLayout="row wrap" fxLayoutAlign="space-between end">
          <div fxFlex></div>
          <button mat-mini-fab color="primary" (click)="switchWebCamera()" [disabled]="singleDevice">
            <mat-icon>switch_camera</mat-icon>
          </button>
          <button mat-fab color="accent" (click)="createPhoto()">
            <mat-icon>photo_camera</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="closeCamera()">
            <mat-icon>close</mat-icon>
          </button>
          <div fxFlex></div>
        </div>
      </div>
      <div class="camera" [fxShow]="isPreviewPhoto">
        <img alt="preview photo" class="camera-stream" [src]="previewPhoto">
        <canvas #canvas style="display:none;"></canvas>
        <div class="camera-controls" fxLayout="row" fxLayoutAlign="space-between end">
          <div fxFlex></div>
          <button mat-fab color="primary" [disabled]="updatePhoto" (click)="cancelPhoto()">
            <mat-icon>close</mat-icon>
          </button>
          <button mat-fab color="accent" [disabled]="updatePhoto" (click)="savePhoto()">
            <mat-icon>check</mat-icon>
          </button>
          <div fxFlex></div>
        </div>
      </div>
    </div>
  </div>
  <div class="message-text" *ngIf="textMessage">
    {{ textMessage | translate }}
  </div>
</div>
