<!-- -->
<form [formGroup]="widgetFormGroup" (ngSubmit)="add()" style="width: 900px;">
  <mat-toolbar color="primary">
    <h2 translate>widget.add</h2>
    <span fxFlex>: {{data.widgetInfo.widgetName}}</span>
    <div [tb-help]="helpLinkIdForWidgetType()"></div>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async" style="position: relative; height: 600px;">
      <tb-widget-config
        [aliasController]="aliasController"
        [functionsOnly]="false"
        [entityAliases]="dashboard.configuration.entityAliases"
        [filters]="dashboard.configuration.filters"
        [dashboardStates]="dashboard.configuration.states"
        formControlName="widgetConfig">
      </tb-widget-config>
    </fieldset>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()"
            cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || widgetFormGroup.invalid">
      {{ 'action.add' | translate }}
    </button>
  </div>
</form>
