<!-- -->
<form [formGroup]="widgetFormGroup">
  <fieldset [disabled]="isLoading$ | async">
    <tb-widget-config
      [aliasController]="aliasController"
      [functionsOnly]="widgetEditMode"
      [entityAliases]="dashboard.configuration.entityAliases"
      [filters]="dashboard.configuration.filters"
      [dashboardStates]="dashboard.configuration.states"
      formControlName="widgetConfig">
    </tb-widget-config>
  </fieldset>
</form>
