<!-- -->
<div fxLayout="column" class="mat-content mat-padding">
  <mat-checkbox style="padding-bottom: 8px;" [(ngModel)]="type.display" *ngFor="let type of types"
                (ngModelChange)="update()">
    {{ 'widget.' + type.type | translate }}
  </mat-checkbox>
</div>
