<!-- -->
<!--<button color="primary" mat-button mat-icon-button-->
<!--        type="button"-->
<!--        (click)="gotoHelpPage()"-->
<!--        matTooltip="{{'help.goto-help-page' | translate}}"-->
<!--        matTooltipPosition="above">-->
<!--  <mat-icon class="material-icons">help</mat-icon>-->
<!--</button>-->
